[2020-08-27 11:55] 524119574 opened #8 "Seems like the Python version 3.6.9 is not working"
I tried installing and running the package using python version 3.6.9, and it's telling me:
[code]

And according to [here](https://stackoverflow.com/a/52890129/7697142), the `__future__` is only available after Python 3.7. So we probably need to change the requirement file.

[2020-08-27 12:05] 524119574 opened #9 "Required packages not part of setup.py?"
I encountered the following error:
[code]

I think we probably need to add `typing_extensions` to `setup.py`.

[2020-08-27 12:24] 524119574 opened #10 "RPC Response structure can probably be improved?"
Currently if I do:
[code]
The result sill be:
[code]
However, this is not desirable since the user will still need to know what is the format of the RPC response. I think it's probably better if we can have something similar to what the js client is doing, i.e. having a type that is similar to:
[code]

[2020-08-27 12:31] 524119574 opened #11 "Implement Client.get_account_info method?"
I looked throught the code, it seems like the `get_account_info` method is not implemented yet. I can see that the js client has this and it is used in the `js-serum`.

See [here](https://github.com/solana-labs/solana-web3.js/blob/eb2e68d05c75e3a5243ff6ad80bcedba00a43d6b/src/connection.js#L1846) for js Solana client implementation. And the usage in the `js-serum` client [here](https://github.com/p

[2020-08-27 15:39] #8 closed

[2020-08-27 15:39] #9 closed

[2020-08-28 16:59] #11 closed

[2020-08-29 12:05] 524119574 opened #15 "Implement stake program"
Reference: https://github.com/solana-labs/solana-web3.js/blob/master/src/stake-program.js

[2020-08-29 12:05] 524119574 opened #16 "Implement vote program"
https://docs.solana.com/apps/builtins#vote-program

[2020-08-29 12:05] 524119574 opened #17 "Implement config program"
https://docs.solana.com/apps/builtins#config-program

[2020-08-29 13:53] 524119574 opened #19 "Implement the missing instrucitons in system program"

[2020-08-29 17:19] michaelhly opened #20 "Implement program loader"
Reference: https://github.com/solana-labs/solana-web3.js/blob/master/src/loader.js

[2020-08-29 17:29] michaelhly opened #21 "Add test coverage to workflow"

[2020-08-30 08:31] #21 closed

[2020-08-30 10:15] 524119574 opened #23 "Build is Red"

[2020-08-30 13:20] michaelhly commented on #23
This is b/c test coverage decreased by 5% when I removed the tests from the coverage. We should be fine.

[2020-08-30 13:20] #23 closed

[2020-08-30 13:59] michaelhly opened #24 "Implement remaining token client methods"
Ref:
https://docs.rs/spl-token/2.0.3/spl_token/instruction/enum.TokenInstruction.html

https://github.com/solana-labs/solana-program-library/blob/9e23bc94cb3a92a0a49a0f2e9960c55cfca4ccfc/token/program/src/instruction.rs#L339

[2020-09-02 09:48] 524119574 opened #26 "Mirgate from Struct library to Construct library"
Currently, we used the Python built-in `Struct` library to parse the instructions, however, this has two downsides:
1. It's hard to parse the instruction that can be variable length, e.g. `_ALLOCATE_WITH_SEED_IDX`, `_ASSIGN_WITH_SEED_IDX`. This is because the total length of the instruction depends on a variable-length string.
2. The format of the parsing code is a bit hard to read, the reader nee

[2020-09-04 21:59] #26 closed

[2020-09-08 15:51] lakejynch opened #28 "get_inflation_governor"
I've had some trouble when calling this RPC Method. Here's the error:

Although the version I pulled has this method in the Client class (lines 427-442):
`
def get_inflation_governor(self, commitment: Commitment = Max) -> RPCResponse:
        """Returns the current inflation governor.

        :param commitment: which bank state to query. It can be either "max", "root", "single" or "recent".

[2020-09-08 16:28] michaelhly commented on #28
@lakejynch can you check which version you pulled with `pip list`? Make sure you are on v0.1.1.

In my project here is what I get:
[code]

[code]

[2020-09-08 16:43] lakejynch commented on #28
Re-installed 0.1.1, works now. Thanks for the help!

[2020-09-08 16:43] #28 closed

[2020-09-09 11:48] cyriimm opened #29 "To run this project make sure you upgrade your python version"
Just writing for helping anyone experiencing installation issues or using python version lower than 3.7
This project will not be able to install the dependencies needed if you are using python version lower than 3.7
I just upgraded to latest python version 3.8.5 and it installs the dependencies and everything runs fine :)

[2020-09-09 15:25] michaelhly commented on #29
Yes. Sorry about this. I will update the docs and README.

[2020-09-09 19:03] cyriimm opened #30 "How do you transfer tokens other than SOL?"
How do you transfer tokens other than SOL? I have figured out how to transfer SOL , is there a way to send SRM?

[2020-09-09 19:29] michaelhly commented on #30
Working on it in this PR: https://github.com/michaelhly/solana-py/pull/25.

Will get it merged soon.

[2020-09-09 21:48] michaelhly commented on #30
Hi @cyriimm. Please update to v0.2.0 and you should be able to transfer SPL tokens now.

Here is a snippet you can try:
[code]

Let me know if you run into any issues, SPL-token related docs are over [here](https://michaelhly.github.io/solana-py/spl.html#spl-token).

[2020-09-09 21:52] michaelhly commented on #24
Right now, we only have an instructions module, which is just a collection of spl-token related transactions. Would be nice to create a token abstraction that combines some of the instructions together into a single transaction similar to the JS implementation [here](https://github.com/solana-labs/solana-program-library/blob/72fc795f9094d9df539500ffa9045001ed4bf43e/token/js/client/token.js#L245).

[2020-09-09 21:52] michaelhly commented on #29
This should be fixed in v0.2.0.

[2020-09-09 21:52] #29 closed

[2020-09-10 15:45] cyriimm commented on #30
`from solana.publickey import PublicKey
from solana.account import Account
from solana.rpc.api import Client
from solana.transaction import Transaction
from spl.token.instructions import transfer, TransferParams

serum = PublicKey("SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt") # Mainnet address
sender, dest = Account(), Account()

print(sender.public_key())# These are arbitary accounts
transfer_pa

[2020-09-10 15:51] michaelhly commented on #30
@cyriimm Can you post the code snippet you're using to send Serum tokens?

[2020-09-10 15:55] cyriimm commented on #30
Below is the code snippet :)
`
from solana.publickey import PublicKey
from solana.account import Account
from solana.rpc.api import Client
from solana.transaction import Transaction
from spl.token.instructions import transfer, TransferParams

serum = PublicKey("SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt") # Mainnet address
sender, dest = Account(), Account()

print(sender.public_key())
#The sende

[2020-09-10 15:58] michaelhly commented on #30
FYI calling `Account()` will generate an account based on a random seed. I would recommend you store your private key as an environment variable and create an account as follow:

[code]

[2020-09-10 16:14] cyriimm commented on #30
for SRM are the 'mint' and 'token' addresses the same?
namely: SRMuApVNdxXokk5GT7XD5cUUgXMBCoAz2LHeuAoKWRt

[2020-09-10 17:35] cyriimm commented on #30
Think I am getting somewhere with this :)
 I have now used spl token program address (that is spl)
When I try to send this transaction it says not signed correctly --> makes sense
Does the initliazeAccount instruction need to be signed before sending in tx?
'
account, mint, owner, token = Account(4).public_key(),serum, Account(1).public_key(),spl
params = InitializeAccountParams(
    account=accou

[2020-09-10 18:52] michaelhly commented on #30
Okay. We have all the functions in this library, but it's not very friendly yet. To create an spl-token account, we need to replicate these steps:

1. Get lamports needed to allocate memory for account with `get_minimum_balance_for_rent_exemption`.
2. Create an account via the SystemProgram: https://github.com/michaelhly/solana-py/blob/682f0f67015842b60b0edec5ca4e6b25d731e93c/solana/system_program

[2020-09-14 19:59] michaelhly opened #33 "Require feePayer account before tx serialization"
Corresponding PR in solana-web3.js: https://github.com/solana-labs/solana-web3.js/commit/d98d759f5f208cb5896adf5d477fd0434d2a5267

[2020-09-14 20:00] michaelhly commented on #17
Going to close this for now unless someone requests this.

[2020-09-14 20:00] #17 closed

[2020-09-14 20:01] michaelhly commented on #16
Going to close this for now and re-open if someone requests for this.

[2020-09-14 20:01] #16 closed

[2020-09-14 20:03] michaelhly opened #34 "Ensure signatures num required signers"
Corresponding pr in solana-web3.js: https://github.com/solana-labs/solana-web3.js/commit/9239e2f94274a878118dc445160b964fe86a4d7c

[2020-09-14 21:09] michaelhly commented on #20
Closing this for now. Will re-open upon request.

[2020-09-14 21:09] michaelhly commented on #15
Closing this for now. Will re-open upon request.

[2020-09-14 21:09] #15 closed

[2020-09-14 23:27] #34 closed

[2020-10-04 23:29] michaelhly commented on #30
A token client is now available in v0.05. Currently supports: `transfer`, `mint_to`, `get_balance`, `get_accounts` and `create_accounts`. I haven't gotten around to write proper docs, but hopefully, these tests would be good enough references for now:
https://github.com/michaelhly/solana-py/blob/ce34ff5195aa5ca4c051ce6359db0e08f04ced37/tests/integration/test_token_client.py#L16

[2020-10-04 23:29] #30 closed

[2020-10-21 14:06] michaelhly opened #42 "base58 encoded transactions are now DEPRECATED"
We should serialize transactions in base64 in `send_transaction`, `send_raw_transaction` and `simulate_transaction`.

[2020-10-24 01:38] #42 closed

[2020-11-09 03:25] t-900-a opened #44 "Missing "until" parameter within get_confirmed_signature_for_address2()"
function doesn't conform to api spec

Expect a pull request from me soonish

https://docs.solana.com/apps/jsonrpc-api#getconfirmedsignaturesforaddress2

    <string> - account address as base-58 encoded string
    <object> - (optional) Configuration object containing the following fields:
        limit: <number> - (optional) maximum transaction signatures to return (between 1 and 1,000, default: 1

[2020-11-09 04:25] michaelhly commented on #44
👍

Thanks for catching this.

[2020-11-12 06:26] michaelhly opened #45 "Support websocket connections"
Add websocket client for https://docs.solana.com/apps/jsonrpc-api#subscription-websocket

[2020-11-25 10:21] kozhevnykov opened #46 "rpc.api.send_transaction() - change "transfer" to "Transaction.add(transfer""
rpc.api.send_transaction()
line 954:
transfer --> TransactionInstruction, but tx should be Transaction object.

just change comment section, to provide correct example.

tx = Transaction.add(transfer(TransferParams(
        ...     from_pubkey=sender.public_key(), to_pubkey=reciever.public_key(), lamports=1000)))

[2020-11-25 12:58] michaelhly commented on #46
Fixed. Thank you!

[2020-11-25 12:58] #46 closed

[2020-11-28 05:19] yurenji opened #47 "64 bytes private key for Account"
I am initing my account object as follows
[code]
but got the following error:
[code]

It seems the private key must be 32 bytes. My account is created with solfare.com, and the private key it generates is 64 bytes.

I wonder is there any plan to support 64 bytes private key?

[2020-11-28 14:38] michaelhly commented on #47
@yurenji Hey. You just need to slice your 64 bytes private key in half. And pass in the second half to `Account`.

[2020-11-28 19:51] #47 closed

[2021-02-05 20:29] chiwalfrm opened #48 "How to get a list of all tokens from SOL address?"
The API has a method to get SPL token balance, but you have to know the token address ahead of time.

Question: Is there an API method to get a list of ALL tokens for a specific SOL address?

[2021-02-13 07:48] michaelhly commented on #48
Sorry for the late reply. Here they are:
https://github.com/project-serum/serum-ts/blob/master/packages/tokens/src/mainnet-beta.json

[2021-03-08 18:53] chiwalfrm commented on #48
that's cool but do you think you would implement a method in your solana-py client?  Something like get_list_of_tokens() like you already have get_token_account_balance() ?

[2021-03-08 19:02] chiwalfrm commented on #48
are you saying that you are supposed to check every MintAddress for a balance?  this could get out-of-control when there are hundreds of thousands of SPL tokens

[2021-03-09 05:15] michaelhly commented on #48
Sorry, not that I know of, at least no easy way. You have to look up a mint address you know.

It's kind of hard to do this on Solana since all state is stored in an [account](https://docs.solana.com/developing/programming-model/accounts).

[2021-03-09 20:02] chiwalfrm commented on #48
closing this issue because Tyera at the Solana discord gave the answer: https://docs.solana.com/developing/clients/jsonrpc-api#gettokenaccountsbyowner

set programId = TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA and it works

[2021-03-09 20:02] #48 closed

[2021-03-10 05:16] chiwalfrm commented on #48
could you help me?  I am having problem calling that endpoint.

I invoke: print(solana_client.get_token_accounts_by_owner(my_address, 'TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA', 'max'))

[code]

[2021-03-10 14:05] michaelhly commented on #48
You need to use this [option](https://michaelhly.github.io/solana-py/api.html#solana.rpc.types.TokenAccountOpts) to specify your token program.

[2021-03-10 14:51] chiwalfrm commented on #48
thanks!  I specified 'TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA' so I don't know why it was throwing the error.  That is the program ID for SPL Token program.  Did I make a syntax error?

`solana_client.get_token_accounts_by_owner(my_address, 'TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA', 'max')`

[2021-03-10 14:59] michaelhly commented on #48
No. You can't specify a plain string.

You have to use the options like `TokenAccountOpts(program_id='TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA')`; here is an example:
https://github.com/michaelhly/solana-py/blob/dd8e1fb91e0d82fa6a241380d8bb516ac8b65583/spl/token/client.py#L134

[2021-03-10 15:15] chiwalfrm commented on #48
THANK YOU!  It works now.

[2021-03-11 03:44] michaelhly commented on #48
ooof, i don't think so, iirc SPL tokens have to human readable metadata (unlike erc20 tokens). But you can try deserializing thosed data bytes and see what is there:

`data': ['Ii9B9QktgU3mZCAt2+S0ROmkSIWPpH3vtyadWtu/wgT4OjIHSC/gafoWIlrgGukufJF6BK8eqLsIT+02w2iGGAAAAAAAAAAAAQAAADEsftvHNgiiI5GGmo1JNhyLdqbTiDwytzSiFZEENlCRAQAAAAAAAAAAAAAAAN8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA',

[2021-04-08 03:00] Chi-AnTai opened #49 "Solana-py consider solana/web3.js signature is invalid"
We try to pay fee for our user, so we did the following process
1. Set our server as fee payer
2. User partial sign tx in frontend(solana/web3.js)
3. Serialized tx data and pass to our backend
4. Server deserialized tx and add_signer(solana-py)
5. Serialized tx and send raw tx

The step 5 will fail due to solana-py consider the user signature is invalid.
However, if we do step 4 and 5 in JS, it wi

[2021-04-08 04:35] michaelhly commented on #49
Might be related to https://github.com/michaelhly/solana-py/issues/33. But solana web3js might have updated a lot since I first xopied the tx serde stuff. Will probably need to get the python lib back to parity.

[2021-04-08 04:49] Chi-AnTai commented on #49
For my understanding, since fee payer is only the first signature, I hardcode our server signature's position when add_signer. Not 100% sure but I think this part is fine.

[2021-04-17 21:02] #33 closed

[2021-04-17 21:49] michaelhly commented on #49
Hey @Chi-AnTai. Can you update to version 0.7.0 and give this another try? Thanks!

[2021-04-17 22:41] michaelhly commented on #10
Won't do for now.

[2021-04-17 22:41] #10 closed

[2021-04-19 09:53] Chi-AnTai commented on #49
@michaelhly Not 100% sure but it works in our two use cases. Niceeee.

[2021-04-21 07:40] chiwalfrm opened #52 "solana-py does not show my staked SRM tokens"
Example: I have 1386.181659 SRM.  I stake 1000 SRM at https://stake.projectserum.com/#/, leaving 386.181659 unstaked.  Before and after staking, if I look up my SRM address in the Solana explorer, it shows 1386.181659, so the staking action did not 'hide' my SRM.  The question is: If I use the solana-py API instead, it only shows 386.18659, so the staked amount is "hidden" and not reported.  How c

[2021-04-21 14:13] chiwalfrm commented on #52
closing this issue, because after a short delay, now even the explorer.solana.com is showing me the unstaked SRM only.  doesn't seem to be a solana-py issue.

[2021-04-21 14:13] #52 closed

[2021-04-22 11:39] max-block opened #53 "Is it possible to generate a 64-byte private key?"
solana.account.Account generates new accounts, but it's a 32-byte private key.
And I can't import such a key in Sollet wallet. It requires 64-byte key.

Can I generate a new account with this library and next import in into a Sollet wallet?

[2021-04-22 14:46] silvercondor commented on #53
adding to this issue.

I'm aware that you can slice the 64 byte key in half and use the 2nd half that in account. but the generated public key is different from what I see in sollet.

Is there a way I can generate a key pair that is consistent with sollet?

[2021-04-22 17:05] michaelhly commented on #53
You need to use the first half.

On Thu, Apr 22, 2021 at 9:46 AM silvercondor ***@***.***>
wrote:

[2021-04-22 17:11] michaelhly commented on #53
Here is an example:
[code]

[2021-04-22 17:38] max-block commented on #53
@michaelhly

I'm trying to generate a new account with your library and be able to import a new private key to Sollet.
Here is a example:

[code]

[2021-04-22 17:50] michaelhly commented on #53
I think you just need to encode the private key in with `base58.b58encode`.

[2021-04-23 07:59] max-block commented on #53
Thank you! Now I've realized that it's possible to use a private key in base58 format. It's much more convenient than a string like "[1,2,3....]"

But I still can't understand how I can generate a new account which I can you use with your library and with a Sollet wallet.
As I understand, there is no method in your library to generate a 64-byte private key.
Is it safe to generate it using a python

[2021-04-23 15:05] michaelhly commented on #53
@max-block can you try padding your 32 byte key with 0s?

[2021-04-24 21:27] michaelhly commented on #53
@max-block Please update to v0.8.0. I just added a helper method to help you do this:
<img width="1275" alt="Screen Shot 2021-04-24 at 4 15 23 PM" src="https://user-images.githubusercontent.com/24895862/115973335-ddddd400-a519-11eb-96f1-aed2f1c3f5ac.png">

[2021-04-24 21:27] #53 closed

[2021-04-26 05:34] max-block commented on #53
@michaelhly it works, thank you!

[2021-04-26 05:43] enjoyhomelife opened #54 "can implement tokenswap demo for solana dex?"
very appreciate.
my implement always wrong in tokenswap.  i do not know how to solve.

[2021-04-26 16:21] #54 closed

[2021-04-28 22:19] mattou78400 opened #55 "connection broken error"
I'm having an issue with the solana library. I'm trying to query "get_program_accounts"
But the connection keeps getting broken by the "remote host"

See the screenshot...

![image](https://user-images.githubusercontent.com/39678117/116479757-76f54d80-a880-11eb-84a0-36425963b207.png)

It was actually working this morning and I'm quite clueless as of why it doesn't anymore...

It shouldn't be an IP

[2021-04-29 02:26] michaelhly commented on #55
Which endpoint are you trying to hit? It's possible that the solana RPC nodes are unstable sometimes, I would check with the [solana](https://solana.com/community) team on discord.

[2021-05-01 07:15] max-block opened #57 "AttributeError: transaction has not been signed correctly"
I'm trying to send SOL from one account to another in testnet:

[code]

It fails with such an error:
[code]
What I'm doing wrong?

[2021-05-01 07:23] max-block commented on #57
It's my fault.

It's necessary to pass signers to send_transaction method: `res = client.send_transaction(tx, acc)`

[2021-05-01 07:23] #57 closed

[2021-05-01 16:20] michaelhly commented on #54
@enjoyhomelife I remembered. There are some demo scripts here https://github.com/kal1er/simpleClient-for-pyserum.

[2021-05-01 16:37] michaelhly commented on #49
Going close for now. Please re-open when you can report the new issues. Thanks!

[2021-05-01 16:37] #49 closed

[2021-05-03 04:08] vsdfnvuitsb opened #58 "How to decode rpc response string ?"
I use this search my account info:`get_token_accounts_by_owne`
but response this:`{'jsonrpc': '2.0', 'result': {'context': {'slot': 76584788}, 'value': [{'account': {'data': ['8CsaUtZsXoZJMjgBclYYcr9wvkOJryLokWuobaSAVBUkD+i7UazOtnaj1x73Gsn2kO74OBdBANIgLDdXhAPuEQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', '

[2021-05-03 04:33] michaelhly commented on #58
Here is what you can do right now: https://github.com/michaelhly/solana-py/blob/97a62c60b829ba4d3ebcc8f2c3473d19d8dd4aea/tests/integration/test_token_client.py#L73

Sorry that this isn't very friendly right now. I'll see how I can expose a friendlier helper method.

[2021-05-03 04:50] vsdfnvuitsb commented on #58
OK thank you ，use this method I got this:
![image](https://user-images.githubusercontent.com/70013651/116842112-0a76a780-ac0e-11eb-95b5-afae8ee933b7.png)
now I need Convert byte?

[2021-05-03 05:24] michaelhly commented on #58
Can you try to just dumping those bytes into `PublicKey(...)`?

[2021-05-03 06:13] vsdfnvuitsb commented on #58
Thank you , It works

[2021-05-05 17:10] danvib commented on #20
Hey! can you re-open this? Thanks so much! :)

[2021-05-06 16:19] vsdfnvuitsb opened #59 "Transfer token error"
I'm trying to transfer token,this's my code:
`import base58
from solana.publickey import PublicKey
from solana.account import Account
from solana.rpc.api import Client
from solana.transaction import Transaction
from spl.token.instructions import transfer, TransferParams

# acc = Account(bytes(prk[:32]))

testtoken = PublicKey("6YdsfSpcU5RpU3uFWsPNGmfHPyxELPCqQu2hg5deYtDv")
sender = Account(bytes(p

[2021-05-06 20:48] michaelhly commented on #59
program_id should not be `testtoken`, it should be https://michaelhly.github.io/solana-py/spl.html#spl.token.constants.TOKEN_PROGRAM_ID

[2021-05-07 02:21] vsdfnvuitsb commented on #59
After I changed the token address to the main network address, I still made the same error
![image](https://user-images.githubusercontent.com/70013651/117388715-ce995600-af1d-11eb-9301-ab3fd7caaad3.png)
`{'code': -32002, 'message': 'Transaction simulation failed: This program may not be used for executing instructions', 'data': {'err': 'InvalidProgramForExecution', 'logs': []}}
`
`Exception: Faile

[2021-05-07 03:33] michaelhly commented on #59
No. You need to provide `spl.token.constants.TOKEN_PROGRAM_ID` as `programID`.

[2021-05-07 03:59] vsdfnvuitsb commented on #59
Where can I see it

[2021-05-07 14:46] michaelhly commented on #59
`TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA`

[2021-05-07 15:03] ctycode opened #60 "transfer problem"
Hi,How to transfer tokens from one address to another

[2021-05-07 15:19] ctycode commented on #60
Okay,so Where is the token written? like `srm`,`ray`
<img width="795" alt="image" src="https://user-images.githubusercontent.com/56985178/117471454-72b8e680-af8a-11eb-9027-3d5ab3bf4d26.png">

[2021-05-07 15:50] michaelhly commented on #60
You initialize them here:
https://github.com/michaelhly/solana-py/blob/815802fbfa6fa5f7c5c1ab1c481b7a7ce3666b2e/spl/token/client.py#L79

[2021-05-07 17:32] max-block opened #61 "How to transfer SOL to an empty accounts?"
When I transfer SOL to an account with some amount of SOL, there are no any problems.

But when I try to transfer to an ampty account, I have such an error:

`{'code': -32002, 'message': 'Transaction simulation failed: Attempt to debit an account but found no record of a prior credit.', 'data': {'err': 'AccountNotFound', 'logs': []}}`

As I understand, it's necessary to create an account first. I

[2021-05-07 18:26] michaelhly commented on #61
You have to create an account, and then transfer SOL. It should be two separate instructions inside a transaction. Does that make sense? Please reference the example in this notebook:
https://github.com/michaelhly/solana-py/blob/master/notebooks/SendTransaction.ipynb

You can run `make notebook` to run the code block in the notebook, as well as add your own code :).

[2021-05-08 05:31] max-block commented on #61
Sorry, it's my mistake. I confused a mainet-beta and testnet endpoint, so there was no enough SOL on balance.

It's not necessary to create an account before transfering SOL. It's OK to transfer SOL on an empty account.
This code works fine:
[code]

[2021-05-08 05:31] #61 closed

[2021-05-08 14:50] ctycode commented on #60
Hi,I read docs but I don't understand, if I transfer USDC to another address

[code]
`program_id ` What should I fill in?  Token Address? or Associated Token Metadata?
<img width="684" alt="image" src="https://user-images.githubusercontent.com/56985178/117543198-5ed6b880-b04e-11eb-9db0-904177cd35a1.png">
`dest: PublicKey` like this : PublicKey(another address) ?

I look forward to hearing from you

[2021-05-08 15:17] michaelhly commented on #60
[code]

[2021-05-08 15:49] ctycode commented on #60
Okay ,thank you
[code]
 Can amount be a decimal?  like `amount: float` ?

[2021-05-08 15:58] ctycode commented on #60
I run this code response this:
[code]

[2021-05-08 16:05] michaelhly commented on #60
Can you post your code?

[2021-05-08 16:11] ctycode commented on #60
This is my code
[code]

[2021-05-08 16:14] michaelhly commented on #60
Souce cannot be `sender`. It needs to be a usdc token account.

[2021-05-08 16:15] michaelhly commented on #60
Use this method to create an account first:
https://michaelhly.github.io/solana-py/spl.html#spl.token.client.Token.create_account

[2021-05-08 16:42] ctycode commented on #60
Okay, I change my code:
[code]
But response this:
[code]
What's wrong with me?

[2021-05-08 19:21] michaelhly commented on #60
Did this suceeded? `source.create_account(owner=sender.public_key()`?

[2021-05-09 01:41] michaelhly opened #62 "Deprecate Account"
Deprecate Account for Keypair: https://solana-labs.github.io/solana-web3.js/classes/account.html

[2021-05-09 10:11] TkzcM opened #64 "Can't create a assigned to program account"
I want to write a script that help me to stake RAY on raydium. It needs an account assigned to program, but when I create it shows
[code]

I tried the code from this [test](https://github.com/michaelhly/solana-py/blob/97a62c60b829ba4d3ebcc8f2c3473d19d8dd4aea/tests/unit/test_system_program.py) and it still shows this error.

My code:
[code]

[2021-05-09 13:47] michaelhly commented on #64
<img width="1107" alt="Screen Shot 2021-05-09 at 8 45 20 AM" src="https://user-images.githubusercontent.com/24895862/117574504-fbc34100-b0a2-11eb-8ed1-22627d9189af.png">

Hmmm, there might be some breaking changes in the RPC nodes on how they deserialize base64 encoded transactions...we'll need some help from the Solana team..

[2021-05-17 14:51] ctycode commented on #60
How to judge whether it is successful or not?

[2021-05-17 15:23] ctycode commented on #60
I run and response this:
<img width="990" alt="image" src="https://user-images.githubusercontent.com/56985178/118513586-71e03b80-b766-11eb-8e71-0de083bf07c7.png">
and I look at：
```https://explorer.solana.com/tx/4EqtspBaAphnepZghqjp9sEdaB1syUkpQXDkb2XcrTHP4YzTeE4jbFueZr3M97Cwxbru3KoWFG24nZKrnf5iLwBf```
<img width="803" alt="image" src="https://user-images.githubusercontent.com/56985178/118514092-d

[2021-05-20 05:54] novrend commented on #60
I have the same problem.
`raise Exception("Unable to confirm transaction %s" % tx_sig)`
`Exception: Unable to confirm transaction xxx`

[2021-05-20 15:47] max-block opened #65 "How to encode TransactionInstruction.data for a custom Solana program?"
As I understand, https://borsh.io is the recommended way to serialize / deserialize data structures for Solana Rust programs. But what's about client side, for Python?

I've checked https://github.com/near/borsh-py, but it's impossible to install it via pypi.

I've checked your library, you have a lot about serialization/deserialization in solana/_layouts. It looks like it's a private module :)

A

[2021-05-20 17:24] ebrightfield commented on #65
I'm working on a fork of this library for the Solana hackathon, and have successfully added by own transaction instruction data (de-)serialization. If you give me some more details on what you're having trouble understanding, I can maybe help.

[2021-05-21 11:30] michaelhly commented on #65
Currently, we use https://construct.readthedocs.io/en/latest/ to define the ABI layout, and parse it. Construct is analogous to the buffer-layout library the Solana core team uses.

There are probably better ways to do this (i.e. generate python client bindings off of anchor's IDL), but I haven't had to time to look into this.

[2021-05-27 04:46] michaelhly commented on #65
https://github.com/near/borsh-py looks promising..

[2021-05-27 13:18] mahyarx opened #68 "How i can add some Message in the header of transaction"
i want to add some sting in transactions/SC how it's possible ?
thank you

[2021-05-28 13:51] michaelhly commented on #68
Can you be more specific? I'm not sure whar you mean.

[2021-06-05 04:12] LucasBruder opened #72 "Library uses deprecated commitment levels"
https://docs.solana.com/developing/clients/jsonrpc-api#configuring-state-commitment
https://github.com/solana-labs/solana-web3.js/blob/62513cdee2ca0c4f350e811a982ca13731201a9f/src/connection.ts#L212

New commitment levels are:
finalized, confirmed, and processed.

This seems like a breaking change

[2021-06-06 01:09] vcyleung commented on #60
https://www.reddit.com/r/solana/comments/npmfuq/error_send_transaction_spltoken_solana_web3/
It's likely because your destination address has a 0 balance. adding the skip preflight to your options should resolve this.
`opts=TxOpts(skip_confirmation=False,skip_preflight=True)`

[2021-06-06 01:21] vcyleung commented on #60
https://www.reddit.com/r/solana/comments/npmfuq/error_send_transaction_spltoken_solana_web3/

You're probably trying to send USDC to a sol address, you'll need to get the usdc address from the corresponding sol address as the destination.

![image](https://user-images.githubusercontent.com/15095997/120909457-4fde2880-c643-11eb-9525-3e00593d20fc.png)

[2021-06-08 01:59] michaelhly commented on #72
I will pick this up soon.

[2021-06-18 11:40] V-kik opened #75 "Invalid param: not a v2.0 Token account"
Hi I am trying to use this python wrapper to query information about my solana wallet using the endpoint
"https://solana-api.projectserum.com"

The response when querying the account balance is:
{'jsonrpc': '2.0',
 'error': {'code': -32602,
  'message': 'Invalid param: not a v2.0 Token account'},
 'id': 20}

 What is my mistake here?

[2021-06-22 20:39] hareeshnagaraj opened #76 "getConfirmedSignaturesForAddress2 -> getConfirmedSignatures"
Hi all! Just wondering if an update to this function was in the works? I noticed this is going to be deprecated from the official Solana docs:

https://docs.solana.com/developing/clients/jsonrpc-api#getconfirmedsignaturesforaddress2

It appears the latest on master only has the older version:
https://github.com/michaelhly/solana-py/blob/master/solana/rpc/api.py#L266

[2021-06-22 20:43] michaelhly commented on #76
Thanks for catching this. Will update this soon!

[2021-06-22 21:03] hareeshnagaraj commented on #76
thanks @michaelhly!!

[2021-06-23 10:33] mschneider commented on #72
We noticed that in a lot of our trading bots we need to set the commitment level on every rpc call to 'processed'. In JS we have the ability to set this directly on the Connection object, which is the counterpart of Client. This allows us to have the code look pretty normal, and not specify the commitment on every rpc call. Might be worth adding, if you anyways plan to retouch all the confirmation

[2021-06-27 12:31] Jay54520 commented on #53
How to import this to Sollet extension? I can't add the keypair by "Import private key".

[2021-07-01 10:13] bibodeng commented on #60
The mint param is not Mint authority owner, it's just **Token Address**, FYI @ctycode

[2021-07-06 15:46] #76 closed

[2021-07-07 17:51] aleixisp opened #78 "fund-recipient on token transfer"
it is possible to fund destination account in case the destination does not have a token account?

[2021-07-07 18:03] aleixisp commented on #78
solved

[2021-07-26 10:21] johnsonchak opened #80 "Is there a asynchronous version of solana-py?"
Is there a asynchronous version of solana-py?

[2021-07-26 18:03] kevinheavey commented on #80
There is not. A guy called buffalu said a while ago that he was working on adding async support but I don't know him. I might also work on it btw as I think it's important

[2021-07-29 17:00] michaelhly commented on #80
No, there is not. But you can probably wrap the RPC calls with threads as a workaround.

[2021-07-30 21:03] #72 closed

[2021-07-30 22:49] kevinheavey commented on #80
Update: I am working on it this weekend

[2021-08-03 22:09] #80 closed

[2021-08-04 12:44] kevinheavey opened #84 "LICENSE file not included in PyPI packages"
The LICENSE file isn't included in the files that get uploaded to PyPI (you'll see if you download and unpack the .tar.gz file from here https://pypi.org/project/solana/#files). This is Bad from a legal perspective and causes problems for tools like conda.

However I couldn't replicate this behaviour: I tried uploading the package to TestPyPI and the LICENSE file was included fine https://test.pyp

[2021-08-04 14:24] michaelhly commented on #84
I run `make publish` to publish the package to pypi:
https://github.com/michaelhly/solana-py/blob/e2d53a61fd4bfd30a8d3726aa87398c04b248b38/Makefile#L19

[2021-08-04 14:46] kevinheavey commented on #84
Ok, can you check if the source distribution has a LICENCE file on your machine? It does on mine.

You'll want to run :
[code]

[2021-08-04 18:26] michaelhly commented on #84
This should fix it:
https://github.com/michaelhly/solana-py/commit/077bd9943d0475d8234822b4405275bb3d75bfc7

[2021-08-04 18:26] #84 closed

[2021-08-08 09:08] kevinheavey opened #86 "LICENSE file missing again in 0.11.2"
The LICENSE file isn't in the PyPI distribution for 0.11.2. When I run `python setup.py sdist` it appears in the .tar.gz file. @michaelhly does it appear for you?

I'm using setuptools v57.0.0 and twine v3.4.2.

[2021-08-08 16:03] michaelhly commented on #86
Yes. It's missing again :(.

[2021-08-08 16:38] kevinheavey commented on #86
Does it appear in the tarball when you run `python setup.py sdist` on your machine? I feel like this is likely a setuptools version issue

[2021-08-08 21:29] kevinheavey commented on #86
The conda build is failing :( https://github.com/conda-forge/solana-feedstock/pull/1

[2021-08-08 22:10] michaelhly commented on #86
It does not. But I thought it did in `0.11.1`.

[2021-08-08 22:11] michaelhly commented on #86
I'll need to take another look..

[2021-08-08 22:16] kevinheavey commented on #86
yeah I think it's because we removed `include_package_data=True`. But we don't want to put that back as it'll make `py.typed` disappear again. And we don't need it back because the LICENSE file gets included on my machine without `include_package_data=True`

[2021-08-08 22:31] michaelhly commented on #86
Oh. So it is included on your machine?

[2021-08-08 22:35] kevinheavey commented on #86
Yep. Using setuptools v57.0.0

[2021-08-09 14:38] michaelhly commented on #86
Looks like it was b/c my `setuptools` was out of date. Just release 0.11.3, it now has the LICENSE file included.

[2021-08-09 14:38] #86 closed

[2021-08-11 09:43] giftedchen opened #87 "@kevinheavey, Hi Kevin, I have a problem when testing Account()"
I tried to input the priavte key string such as "W3VVNx2buS7YYYYYYYYYPksrmDJydgKXXXXXXXXXXXXXXXXbFtyZp4CVxp47eCHCvpZPPPPK2GYFaQvA"(exported from phamton wallet) into Account() to initialize my Account to transfer tokens, but it failed. It seems the the Account() needs a keypair which is a int array such as
 keypair = [
    ...     90, 249, 112, 214, 86, 235, 20, 215, 175, 33, 227, 50, 72, 214, 59,

[2021-08-14 18:29] vcyleung commented on #87
Try asking the phantom discord / faqs and searching the solana subreddit, first. [Accounts ](https://solana-labs.github.io/solana-web3.js/classes/Account.html) have been deprecated and are moving towards [keypairs](https://solana-labs.github.io/solana-web3.js/classes/Keypair.html), as you've previously noticed. You'll need to see how phantom allows you to get access to the keypair, and if phantom

[2021-08-20 07:58] GitTimmerd opened #88 "get_token_accounts_by_owner() does not take "encoding" as optional argument"
Hi,

The get_token_accounts_by_owner() function does not have the functionality to choose the encoding as optional argument, unlike in the official API function: https://docs.solana.com/developing/clients/jsonrpc-api#gettokenaccountsbyowner
In many other functions in the library this functionality is there, is there a possibility that this can also be added to this function? Thanks!

[2021-08-24 21:31] Mitolius opened #90 "Some questions"
Hi,

First of all, sorry for this "issue" which is not really an "issue" but a bunch of questions by a noob :p
I would like to make a python program to interact with pool or farm from different protocols on Solana DEX.

1) Can I achieve this using solana-py (I think yes)
2) I read the doc but there is no examples for what I want to achieve, do you have some links to educate myself ?
3) I saw in th

[2021-08-25 15:12] #24 closed

[2021-08-29 07:30] AkiYoneyama opened #92 "get_signatures_for_address() returns 'Method not found'"
Hi,

I noticed that get_signatures_for_address() has come to return 'Method not found' since yesterday.
My code is as follows, which worked properly several days ago:
[code]

Result:
[code]

I have tried versions `0.12.0` and `0.12.1` but the result did not change.
Is there something wrong with my code?
If not, is there any Solana network update affecting it?

The minimum code which I extract from

[2021-08-29 14:53] michaelhly commented on #92
Please use `get_signatures_for_address2`. `get_signatures_for_address` is currently not supported on mainnet.

[2021-08-29 15:32] AkiYoneyama commented on #92
Oh, I see. I've gotten the correct output by using `get_confirmed_signature_for_address2`. Thanks!

[2021-08-30 07:44] deep0072 commented on #90
I also want to know like as a python-dev can I get a job in the blockchain domain?

[2021-08-30 12:34] f-erdi1990 commented on #48
Sorry, but how would i do that? i've tried the decode helper function and just get gibberish...

[2021-08-30 16:25] ShimTeacher commented on #59
@Mitolius hey guys im same problem
Shall we solve the problem together?

[2021-09-01 10:51] vsdfnvuitsb opened #93 "How to create a new wallet to generate Mnemonic words？"

[2021-09-01 15:16] vsdfnvuitsb commented on #93
@michaelhly

[2021-09-01 15:43] #93 closed

[2021-09-04 10:37] wuyi771 opened #94 "How to interact with smart contracts"
I can send SOL, but I don’t know how to interact with the contract. There is no ABI, and the contract address has no code.

[2021-09-04 14:09] michaelhly commented on #94
@kevinheavey is working on an [Anchor](https://github.com/project-serum/anchor) client for Python. He'll have something ready for you soon...

If you don't want to wait, you have to figure out how to serialize data into binary manually to interact with Solana programs. Example:
https://github.com/michaelhly/solana-py/tree/master/spl/token

[2021-09-04 18:15] santhoshnarayan opened #95 "Initializing spl.token.client.Token()"
I'm guessing the `program_id` is the PublicKey of the program for minting, but what is the first PublicKey (pubkey) in reference to?

[code]

[2021-09-04 20:36] geoffwhittington commented on #59
I hit the same issue and resolved it by ensuring that the `source` and `dest` values were token account addresses.

[2021-09-04 23:00] michaelhly commented on #95
No. `pubkey` is the mint, and `program_id` is
https://michaelhly.github.io/solana-py/spl.html#spl.token.constants.TOKEN_PROGRAM_ID

[2021-09-05 23:52] justinpezzack opened #96 "Transaction simulation failed: Attempt to debit an account but found no record of a prior credit"
{'code': -32002, 'message': 'Transaction simulation failed: Attempt to debit an account but found no record of a prior credit.', 'data': {'accounts': None, 'err': 'AccountNotFound', 'logs': []}}

Getting this error, but there is SOL in the account. Thoughts?

[2021-09-06 11:55] crypt0miester commented on #49
hey, sorry for hijacking this after a while. @Chi-AnTai how did you do step no.2 ? of the user partially signing in the frontend?

would need to be like:
[code]
and send the signedTransaction to the backend? please help me as I've been struggling with this for a while now.

[2021-09-09 10:05] #92 closed

[2021-09-09 20:52] dangell7 commented on #94
Is there a Solana web3.py repo? I dont need all the extra stuff.

Anchor reminds me of ganache/drizzle/truffle which is cool but a lot of us don't need all that.

[2021-09-09 21:00] kevinheavey commented on #94
Good news! You’re in the right place

[2021-09-11 06:35] Jay54520 opened #97 "Request adding get_confirmed_transaction_with_config"
I want to know whether a transaction succeeds in 1 confirmation but `get_confirmed_transaction` will wait about 19 seconds for about 25 confirmations.

from mvines core contributor of solana

[2021-09-11 13:46] crypt0miester commented on #94
any updates on the python anchor client?

[2021-09-12 04:06] wilburpowery commented on #48
Hi guys, I'm interested in learning more about the programId = `TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA` that was shared above. Where can I read more about this?

[2021-09-13 08:43] rzlong opened #98 "add a token account"
I want add wsol token account in my user account, it not works. how can i solve it? Thanks

error:
`
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "/root/.pycharm_helpers/pydev/_pydev_bundle/pydev_umd.py", line 197, in runfile
    pydev_imports.execfile(filename, global_vars, local_vars)  # execute the script
  File "/root/.pycharm_helpers/pydev/_pydev_imps/_pydev

[2021-09-13 10:27] kevinheavey commented on #94
With the caveat that I’m just some guy, I’m targeting this month for a first release

[2021-09-14 05:48] crypt0miester commented on #94
you already did an amazing job with the solana-py.

you can do it mate. I'm quite jealous of what is happening in the js libraries.

my platform depends on this. cheers.

[2021-09-14 09:09] primatekid opened #99 "Name Service missing - SPL"
Hi, I've noticed that the name service for SPL is not available here.

https://github.com/solana-labs/solana-program-library/blob/c05f445d73ffe917367c590aaccee1ec018801f6/name-service/

Any plan to add next days/weeks? or not in priority list?

Thank you!

[2021-09-15 19:38] vcyleung commented on #96
Are you able to provide the transaction instructions?
Without it, this is your best bet. Happens when you try to move all sol, without leaving some dust for the fees.
https://www.reddit.com/r/solana/comments/p0qhpi/transfer_sol_from_staking_account_to_wallet/

[2021-09-17 14:21] michaelhly commented on #99
I'd be happy to take a PR :)

[2021-09-17 14:30] frankmoshe commented on #99
Hi Michael!

Actually, one of the forks already have the Naming Service. https://github.com/Auguron/solana-py/tree/master/spl/name_service from @Auguron

I don't know why didn't PRd to this repo.

Thanks!!

[2021-09-19 12:57] kevinheavey opened #100 "Use poetry instead of pipenv"
Poetry is much nicer than pipenv imo. There would be a few things to change in the Makefile, CI etc so it's not a trivial change. But I'll help anyone with a PR or do it myself if I get time.

Open to hearing reasons not to use poetry.

[2021-09-20 04:35] michaelhly commented on #99
Cool! Would be amazing if someone could PR these in. 🙏 .

[2021-09-23 18:48] dsaccon commented on #45
No takers for this yet?

[2021-09-25 09:05] kevinheavey commented on #94
@crypt0miester I'm curious about what you're working on, is there a way I can contact you?

[2021-09-26 18:10] #62 closed

[2021-09-27 12:49] haohd commented on #64
I fixed this issue by amending the line: "send_tx = cli.send_transaction(transaction, new_account)"

`send_tx = cli.send_transaction(transaction, account, new_account)`

Notes: the account is the payer for the creation. Below is the full example code.

[code]

[2021-09-28 19:37] KurtCMrD commented on #88
@michaelhly  I can pick this up. Can you assign it to me, please?

[2021-09-29 06:02] crypt0miester commented on #94
hello@artz.ai
we are building an open nft marketplace based on metaplex api.

I've done the minting one nft part. would be awesome if we can host drops (candy machine) on our system.

[2021-09-30 16:31] datgrog commented on #45
That would be nice

[2021-10-03 19:59] michaelhly commented on #64
Ahh, good catch! We were missing a signer. Looks like we should be adding better validation here.

[2021-10-04 03:38] michaelhly commented on #88
Sorry. Just saw this. Assigned to you :)

[2021-10-05 20:59] ghost opened #108 "mint_to throws error: account address already in use."
I'm trying to mint a token.
create_mint is successful.

As a next step I use the create_mint object to actually mint tokens.

[code]
I have tried multiple combinations of dest and mint_authority being the token address, the associated token account address and also the wallet pubkey. I keep getting the message below, I'm not sure what I am missing or doing wrong.
Within the script everything is "f

[2021-10-06 14:40] spongehenk opened #111 "Transaction feePayer required"
I don´t know what I´m doing wrong but I get the error:  Transaction feePayer required".

the code:

usdc_mint = PublicKey(base58.b58decode(SPLtokenProgramPubkey)) #mint account
solana_client = Client("https://api.devnet.solana.com")

source = spl.token.client.Token(conn=solana_client, pubkey=usdc_mint, program_id=spl.token.constants.TOKEN_PROGRAM_ID, payer=account1) #account1 = Account(keypair1[:3

[2021-10-06 15:53] vcyleung commented on #111
the owner is your sol address. Your sol address owns the token you are transferring and will pay the sol tx fees not the usdc mint  implied in your code.

[code]

[2021-10-14 01:10] michaelhly opened #116 "Bump Solana docker image for integration tests"
Bump
https://github.com/michaelhly/solana-py/blob/b3855f39f25bd632f78c9f33c4bcd15a574b3320/tests/docker-compose.yml#L4
to 1.7.x

[2021-10-14 02:27] ifczt opened #117 "How to query token details?"
plz help me im newbee~

[2021-10-14 10:57] kevinheavey commented on #116
To save anyone else time on this, it seems the 1.7.x Docker images are currently broken. If I run the code from the `test_token` fixture against v1.7.8 using the Solana CLI, it works fine. But if I run against the 1.7.8 Docker image we get the `InvalidAccountData` errors.

Separately, the more recent 1.7.x images are broken for some other reason. Raised an issue here https://github.com/solana-labs

[2021-10-15 03:56] michaelhly commented on #117
https://github.com/project-serum/serum-ts/blob/master/packages/tokens/src/mainnet-beta.json

[2021-10-17 18:27] geoffwhittington opened #118 "Validating message signature from browser wallet"
I am trying to use Python code to verify the signature `signedMessage` generated in a user's browser. The Python code says its corrupt, however. All the public keys match up in the following example.

Does anyone know what I'm doing wrong?

Javascript/React
[code]

Python validation:
[code]

[2021-10-17 18:34] zpalmtree opened #119 "Use getHealth rpc method instead of /health URL"
Hello,
I was wondering if it would be possible to update the `is_connected` check to hit the [getHealth](https://docs.solana.com/developing/clients/jsonrpc-api#gethealth) json RPC method, instead of the `/health` URL?

I have a node from quicknode, which returns a 404 for the `/health` call, but supports the `getHealth` rpc method.

Thank you.

[2021-10-19 00:13] michaelhly commented on #119
Looks like this is blocked by https://github.com/michaelhly/solana-py/issues/116 :(

[2021-10-22 19:03] brunopedrazza opened #123 "Generate Keypair from mnemonic words that works on Phantom etc..."
When I create a Keypair from a seed generated form a mnemonic phrase and import it to Phantom or Solong, the public key is completely different from the one from Keypair.public_key. Here is a code snippet:

[code]

Does anyone know how to use the Keypair object from solana-py compatible with other wallets?

[2021-10-24 01:20] #100 closed

[2021-11-02 13:08] kraussian commented on #48
I've been struggling with this for way too long before finally resorting to calling the JSON-RPC directly through `requests.post()`.

[code]

Once you run this, `j['result']['value'][0]` will give you something like:
[code]

Each of the addresses in `pubkey` will then need to be queried again against something similar to https://github.com/solana-labs/token-list, but I'm stuck at this stage.

[2021-11-05 07:59] thinkingparticle commented on #123
I did the same as your steps. Then took the hex of `keypair.secret_key` and imported the hex in phantom and wallet address showed the same `public_key` as in python

`keypair.secret_key.hex()`

[2021-11-12 12:47] #116 closed

[2021-11-15 15:57] quazzuk commented on #45
is this functionality currently being worked on?

[2021-11-15 23:33] spankders opened #134 "generate derived seed from mnemonic"
hello
so i was using this solana-py keypair method to generate a public and private key from seed
i generated the seed from a spesific mnemonic
but when i try to compare the result public key of solana-py to phantom wallet public key
and it was a whole different address

i was wondering if there is a way to change the derivation of the seed to the path phantom wallet uses instead of using the defa

[2021-11-16 08:48] #44 closed

[2021-11-16 14:51] kevinheavey commented on #45
yes I'm working on it this week! Was busy with anchorpy stuff

[2021-11-16 15:47] #123 closed

[2021-11-16 20:33] quazzuk commented on #45
Great news! I actually ended up here after finding this https://github.com/serum-community/pyserum/issues/78

[2021-11-17 12:16] quazzuk commented on #64
I'm seeing the same error message when calling `market.settle_funds`

[2021-11-22 03:16] 02agarwalt opened #137 "getBlock, getBlocks, getTransaction"
I see solana.rpc.api.Client supports functions getConfirmedBlock/Blocks/Transaction, but these have been deprecated by the official JSON RPC api. Could this repo add functionality for the new functions getBlock/Blocks/Transaction?

I can submit a pull request if that is acceptable.

[2021-11-22 08:38] michaelhly commented on #137
@02agarwalt. Yes, feel free to submit a PR.

[2021-11-22 09:28] max-block opened #138 "TokenClient.transfer ignores the constructor's payer argument"
I'm trying to transfer spl token from acc1 to acc2 using a payer as a totally different account acc3.

So, I have a token client: client = Token(...., payer=acc3).
When I call client.transfer() it fails with:
{'code': -32002, 'message': 'Transaction simulation failed: Attempt to debit an account but found no record of a prior credit.', 'data': {'accounts': None, 'err': 'AccountNotFound', 'logs': [

[2021-11-23 00:00] 02agarwalt commented on #137
I've created the pull request, but am unable to link it to this issue tracker.

[2021-11-24 00:18] broper2 opened #140 "lint C0209: Formatting a regular string which could be a f-string"
Great project, been using for a bit creating backend around Solana data.

Also looking to contribute a bit, I see this complaint from "make lint" tests, thought it would be a good first issue to dive in with.

Is it cool if I raise a PR migrating these string formats to f-strings?

[2021-11-25 12:30] quazzuk commented on #48
this works for me

[code]

[2021-11-25 15:35] michaelhly commented on #140
@broper2 yes please!

[2021-11-25 15:41] quazzuk opened #141 "`find_open_orders_accounts_for_owner` timing out"
[code]

If I explicitly set the timeout in `async_http.make_request` to 10 secs it works.

[2021-11-25 18:04] 02agarwalt commented on #137
PR merged.

[2021-11-25 18:05] #137 closed

[2021-11-26 17:45] gabrielfior opened #142 "Execute transactions on DEX with solana-py"
Is it possible to execute swaps using solana-py? If yes, can someone please point me to an example of a working code?

[2021-11-28 23:14] broper2 commented on #140
have raised PR for this

[2021-11-28 23:42] #140 closed

[2021-11-28 23:44] michaelhly commented on #142
Which dex? Might look into using https://github.com/kevinheavey/anchorpy

[2021-11-29 11:20] gabrielfior commented on #142
@michaelhly thanks for the reference! I was looking into Serum, for that I found pyserum (https://github.com/serum-community/pyserum) but there it's not possible to execute swaps. Hence I'm looking for an alternative.
I believe anchorpy could be a candidate, since I can interact directly with the contract, however if there was a wrapper for that it would be a dream.

[2021-12-01 15:52] dmanjunath opened #145 "Add optional Commitment param to `get_signatures_for_address`"
GetSignaturesForAddress now has an optional Commitment level parameter https://docs.solana.com/developing/clients/jsonrpc-api#getsignaturesforaddress.

Currently get_signatures_for_address supports before, until and limit (https://github.com/michaelhly/solana-py/blob/master/src/solana/rpc/api.py#L344) but it doesn't support passing in an optional Commitment level. It would be great to be able to s

[2021-12-01 22:01] #45 closed

[2021-12-02 02:34] #141 closed

[2021-12-12 01:14] broper2 commented on #145
This makes sense to me. @michaelhly I will work on PR if thats cool

[2021-12-12 01:14] broper2 commented on #145
Ah, i see your label updates. Will update when pull request is up

[2021-12-14 19:30] dandv commented on #48
@wilburpowery: that is the address of the "Token Program", which can be looked up in the [Solana Explorer](https://explorer.solana.com/):

![Solana Explorer Token Program address](https://user-images.githubusercontent.com/33569/146066397-85904907-d4f2-4a64-b107-f535998ec2eb.png)

In terms of code, it's the `programId` of the `spl-token` program. The documentation is relatively sparse, disjointed a

[2021-12-17 13:18] cclion opened #150 "code': -32602 invalid transaction: index out of bounds"
I wanted to get raydium's pool information, and I wrote a code by solana.py referenced raydium-SDK,  It show `invalid transaction: index out of bounds`

My code is
[code]

log
[code]

[2021-12-18 16:34] broper2 opened #151 "Custom solana-py exceptions"
Has it been considered to raise exceptions custom to solana-py library instead of generic HTTPError created in:

https://github.com/michaelhly/solana-py/blob/f38f01a3c34ddc2d2f67a56d104246e458644717/src/solana/rpc/providers/core.py#L54

This may also be useful in timeout scenario. It would be a simple change to wrap provider code in decorator catching and converting into custom exception. Then cli

[2021-12-18 17:55] michaelhly commented on #151
@kevinheavey what do you think? Feel free to push up a PR to have us look :)

[2021-12-18 18:59] kevinheavey commented on #151
@broper2 definitely interested to hear more about what we might catch with this. Most of the time when the RPC returns an error of some kind the status code is still 200 and the error information lives in the JSON itself.

As for the specific timeout question, `requests` and `httpx` both appear to raise a `ConnectionError` if the request times out (though the `requests` docs suggest otherwise). Th

[2021-12-18 20:14] broper2 commented on #151
Definitely have noticed the 200 status code and error json with invalid input to request. This behavior is clearly by design and I think it makes sense for solana-py client to pass that up to caller. I am more talking about flaky, unexpected issues that can arise with HTTP requests.

For specific example, I have seen timeout behavior raise a ReadTimeout exception (see below logs) in my application

[2021-12-19 11:10] kevinheavey commented on #151
@broper2 is the problem that it's hard to know what exception to catch under the current workflow? I don't get what you're looking for but it doesn't sound insane so maybe this will make more sense to me when your PR is done 😅

[2021-12-19 17:54] broper2 commented on #151
@kevinheavey @michaelhly np, raised PR #152. To summarize, the idea is to have general, custom exceptions raised from solana-py clients. The client RPC implementation should be black-box to callers, it is better if the callers do not need to dig thru client code to know what errors they should catch if they need to do that.

Consider if solana-py moved away from HTTP provider to another way to imp

[2021-12-19 23:51] giaccomgl commented on #48
Guys But what about fetching DeFi assets (such as LP Tokens, Staking…)? The function you have illustrated works for this kind of data too?

[2021-12-20 04:28] xyq1393342748 opened #153 "compile_message Error"
![image](https://user-images.githubusercontent.com/32869592/146711705-4799032e-b3e4-4ac7-806e-0cc1370439ee.png)

When I use the transaction.serialize_message(), there are two different results

[2021-12-20 06:09] michaelhly commented on #153
Can you provide more info on how you're creating your transaction?

[2021-12-20 06:28] xyq1393342748 commented on #153
import spl.token.instructions as spl_token
import solana.system_program as sp
import re
import base58
from hashlib import sha256
from solana.publickey import PublicKey
from solana.transaction import Transaction, AccountMeta, TransactionInstruction
from solana.rpc.api import Client
from spl.token.constants import ASSOCIATED_TOKEN_PROGRAM_ID, TOKEN_PROGRAM_ID
from solana.blockhash import Blockhash
f

[2021-12-20 06:29] xyq1393342748 commented on #153
ok ,  check my code
`import spl.token.instructions as spl_token
import solana.system_program as sp
import re
import base58
from hashlib import sha256
from solana.publickey import PublicKey
from solana.transaction import Transaction, AccountMeta, TransactionInstruction
from solana.rpc.api import Client
from spl.token.constants import ASSOCIATED_TOKEN_PROGRAM_ID, TOKEN_PROGRAM_ID
from solana.blockha

[2021-12-20 06:30] xyq1393342748 commented on #153
ok , This is my code

'''
import spl.token.instructions as spl_token
import solana.system_program as sp
import re
import base58
from hashlib import sha256
from solana.publickey import PublicKey
from solana.transaction import Transaction, AccountMeta, TransactionInstruction
from solana.rpc.api import Client
from spl.token.constants import ASSOCIATED_TOKEN_PROGRAM_ID, TOKEN_PROGRAM_ID
from solana.bl

[2021-12-20 13:00] turfT opened #154 "issue about compile message"
context:
I want to make a transaction offline sign server.  A transaction needs to be signed twice. namely, sign_partial in one place, then add signer in the other machine.

related code:
https://github.com/michaelhly/solana-py/blob/f38f01a3c34ddc2d2f67a56d104246e458644717/src/solana/transaction.py#L133
and
https://github.com/michaelhly/solana-py/blob/f38f01a3c34ddc2d2f67a56d104246e458644717/src/s

[2021-12-21 12:37] #151 closed

[2021-12-21 21:05] CharlesFr opened #155 "getting account balances"
I'm trying to retrieve all tokens associated with a public key, but as far as I understand the token name stored under the `data` key is serialised. How exactly can I convert this back into a human-readable format?

[code]

[2021-12-21 21:24] CharlesFr commented on #155
If I pass `encodings` to `TokenAccountOpts` I get closer to human-readable output, I think the last step here is to retrieve the token name from the mint address, is this correct?

[code]

[2021-12-22 03:52] michaelhly commented on #145
@broper2 feel free :)

[2021-12-22 21:54] spankders opened #156 "invalid transaction: index out of bounds"
im trying to make a transaction but i get this error in the title

the code im using is :
[code]

i used bip_utils library since the original solana-py library generate public key but for a different path than the one used on a phantom wallet
public and private key is fine but when it comes to sending the transaction i get the index out of bounds error

[2021-12-22 22:21] broper2 commented on #145
Thanks for reminder @michaelhly :) PR is up

[2021-12-24 04:18] #145 closed

[2021-12-24 19:36] peterschwarzdev opened #160 "Add some examples to docs?"
Hi,
first of all I think you have done an excellent job at creating a Python version of the Solana CLI!
I have seen the[ SPL client](https://michaelhly.github.io/solana-py/spl.html) but  it seems to require a lot of arguments to initialize that I don't really know where to get them from.  I think what this library is missing are some examples within the docs, for instance, how could we replicate t

[2021-12-28 02:00] BejanSadeghian commented on #47
Isn't it the _first half_ not second half of the 64 byte private key?

[2021-12-28 14:17] caligspp opened #161 "How do I write to a newly created account?"

[2021-12-30 21:04] michaelhly commented on #160
@peterschwarzdev found a pretty good example of minting an NFT here:
https://qiita.com/teto_btc/items/2c4ae1a870f387100e73

[2021-12-30 21:05] michaelhly commented on #161
Might be a good idea to check out https://kevinheavey.github.io/anchorpy/

[2021-12-30 23:23] SubstructureDek commented on #156
I ran into this error when I was signing a transaction with the wrong keypair. The "cull duplicate" code-block in `Transaction.compile_message` was finding the extra pub key and creating an additional `AccountMeta` for it, and then setting `num_required_signatures` to 2 when there was only 1 signature (and only 1 AccountMeta with `is_signer=True` in the ones I had explicitly initialized). Didn't d

[2021-12-31 02:48] #150 closed

[2022-01-01 05:27] spankders commented on #156
thank you for your reply
what im trying to do is send a transaction for a different public key which is generated from the same seed on a different derivation path
i managed to get the derived public key and its own private key however the previous key pair doesnt seem to work so the solution might be generating the keypair from the new public and private keys which i have no clue how since the on

[2022-01-02 06:44] keyserjaya commented on #75
bump, have u found the solution?

[2022-01-04 05:58] cesar128 commented on #78
How did you solved it?

[2022-01-04 16:50] BestRamsay opened #163 "Transaction signed by multisig"
I need to create a transaction in which the first account sends 1 SOL to the second account, but this transaction must be signed by a multisig based on these two accounts.

So I have to create a transaction to send 1 SOL and create a multisig in it?

Do I need to create a multisig in the transaction?
https://michaelhly.github.io/solana-py/spl.html?highlight=multisig#spl.token.instructions.initiali

[2022-01-05 06:41] AnderUstarroz commented on #118
Same problem here, @geoffwhittington were you able to make it work? I have used the following JS function to sign messages:

[code]
And the following Python script to verify messages:
[code]

But verification returns: `nacl.exceptions.BadSignatureError: Signature was forged or corrupt`

[2022-01-05 09:58] #154 closed

[2022-01-06 03:41] geoffwhittington commented on #118
@AnderUstarroz I haven't solved this yet, I'll let you know if/when that happens!

[2022-01-06 06:41] peterschwarzdev commented on #118
I am a bit confused about this when you use `await signMessage(message)` I would expect to see the signed messages somewhere in the blockchain using the [solana explorer](https://explorer.solana.com/), but that is not the case, is all this happening offline then?

[2022-01-06 06:54] geoffwhittington commented on #118
@peterschwarzdev I'm trying to leverage the web wallet to produce a signature only - no transfer of tokens. The signature is useful for authenticating a user.

[2022-01-08 07:55] AnderUstarroz commented on #118
@peterschwarzdev I got it! try this:

[code]
Works for messages signed using the JS function I previously posted.

[2022-01-10 05:58] dykim1222 opened #169 "How to use Transaction.deserialize"
Hi, thanks for this package. This might be an easy solve but I'm stuck here.
In javascript, this is what I would like to do (3rd line):
[code]

Now back to python, I believe I want to do something like below.
[code]

I think the problem is that I'm not sure how to convert the string `serialized_transaction` to a base64 bytes type (as an input to the `deserialize` method). I tried to follow your ex

[2022-01-10 18:57] geoffwhittington commented on #118
I'm going to name my second child after you if this works.

[2022-01-10 23:21] jmlon commented on #96
I had the same problem. In my case the error was sending the transaction to 'mainnet-beta' instead of 'devnet'.

[2022-01-13 04:25] phubaba opened #171 "duplicate signers in send_transaction will result in an opaque UnconfirmedTxError"
For example if you run code like:
[code]
this will create the UncofirmedTxError.

Should we add a sanity check say in solana/transaction.py", line 235, in sign_partial

[code]

Then a more clear error will be raised.

[2022-01-14 01:42] dykim1222 commented on #169
[code]

[2022-01-14 01:42] #169 closed

[2022-01-15 08:08] paul2234 opened #172 "Documentation for "seed" parameter in solana.system_program.CreateAccountWithSeedParams is incorrect"
The documentation ([link here](https://michaelhly.github.io/solana-py/solana.html#solana.system_program.CreateAccountWithSeedParams)) specifies that the "seed" parameter is of type "str".

However, if one passes a string, the user will get a runtime error like the following:
[code]

Upon examination, the testing code (tests/unit/test_system_program.py) is as follows:
[code]

Note that the "seed" p

[2022-01-15 10:24] quazzuk opened #173 "__hash__ on PublicKey and Keypair"
Can `__hash__` perhaps be added to the `PublicKey` and `Keypair` classes to allow them to be used as keys of dictionaries and in sets?

Thanks

[2022-01-15 23:55] michaelhly commented on #173
`Keypairs` are hashable since v0.2.0: https://github.com/michaelhly/solana-py/blob/master/CHANGELOG.md#changed-1

[2022-01-16 08:32] Nikita-Efimov opened #174 "speed of (light) send_transaction"
is it possible to speed up send_transaction?

[2022-01-16 12:08] abuzer63 commented on #96
@comberry I am trying to upload images on candymachine however I keep getting the error "Translating error SendTransactionError: failed to send transaction: Transaction simulation failed: Attempt to debit an account but found no record of a prior credit." despite having over 5 sol in my wallet?
Mainnet-beta

[2022-01-16 23:23] michaelhly commented on #174
Can you provide more details? Also have you tried the async client?

[2022-01-17 03:53] lly835 opened #175 "abount batch transfer"
`{'code': -32602, 'message': 'invalid transaction: index out of bounds'}`

[code]

[2022-01-17 09:25] midomidox commented on #153
same issue..

[2022-01-17 09:51] michaelhly commented on #153
I think this issue was addressed in https://github.com/michaelhly/solana-py/commit/07ec29e51d47b3989f3d516032b76098b9f950e3. Would you mind installing the latest version and try again?

[2022-01-17 11:32] midomidox opened #176 "I get an error while trying to mint NFTs with CMV2"
response I get

`{"jsonrpc":"2.0","error":{"code":-32602,"message":"invalid transaction: index out of bounds"},"id":2}`

[2022-01-17 11:50] midomidox commented on #150
did you sort the problem? @cclion

[2022-01-17 17:12] brunopedrazza commented on #134
#123 can help you

[2022-01-17 21:20] quazzuk opened #177 "`max_retries` comment"
qq - this comment appears on both the sync and async client

[code]

Just checking it's valid for both clients (i.e. the threading part)?

[2022-01-17 21:53] quazzuk commented on #173
Awesome. I'll raise a PR for the change on `PublicKey`

[2022-01-19 06:23] michaelhly commented on #177
No. You should need threads when using the async client.

[2022-01-19 22:08] #176 closed

[2022-01-20 23:49] spkompella opened #178 "Missing Transactions"
I have a script automating the transfer of SPL tokens using solana-py. When i use the spl-token library to send transactions, I am getting sucessful JSON RPC responses with transaction hashes in the result. However, when I check solana explorer or solscan, I am only seeing a fraction of those transfers appear as valid transactions. If I search using the transaction id from the JSON response, I am

[2022-01-21 20:22] fqrious commented on #176
how did you resolve it?

[2022-01-22 17:17] fqrious commented on #150
How did you resolve it?

[2022-01-23 14:55] Nikita-Efimov commented on #174
so i mean some minor things like skip_preflight=False change to better rpc, what i can do to speed up send_transaction

[2022-01-24 20:32] adamxyzxyz commented on #58
hey @michaelhly circling back here, is there an easier method to decode data for get_account_info now?

[2022-01-25 07:08] SquareandCompass opened #179 "Created Tokens Account Balance Zero"
Hi,

I've created multiple tokens from SPL commend showing balance of tokens minted but when searched on Solscan the account is showing zero tokens minted. What seems to be the problem minting and not showing balance now? I do have plenty of funding
to mint tokens and when minting the account is being deducted. Could there be some glitch or what? Please help thanks.
Hrer:

3Dr1A8NiLLGCZMr2xnpZZmGs

[2022-01-26 05:53] Abubakar672 commented on #96
Did anyone found any solution to this problem ?

[2022-01-28 04:20] #179 closed

[2022-01-28 04:20] SquareandCompass commented on #179
Solved

[2022-01-30 14:28] CryptoUncleSam opened #180 "Using publickey.PublicKey().find_program_address() getting NotImplementedError"
Hello guys!

I am try to get PDA for a mint address for later que metadata for NFTs but when I use the function I am getting that error!

Probably I am using wrong the function. I really do not know.

Thanks before hand.

`from solana.publickey import PublicKey

METADATA_PROGRAM_ID = PublicKey('metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s')
mint_key = "8Rjxaxy8ZNAGTojzQSAMSPatNiop9C9PRPY5A29qhrCT"

[2022-01-30 23:26] michaelhly commented on #180
Which version of solana-py are you using?

[2022-01-31 05:55] CryptoUncleSam commented on #180
Yes it was version of solana-py!

Just update is working now!

Thanks!

[2022-01-31 08:10] #180 closed

[2022-01-31 11:09] ciroartz opened #181 "add_signature method not working"
Hello, I have a ts code that works fine when I try to do: `transaction.addSignature(notary, bs58.decode(sigStr));`

On python on the other hand, it's returning:

[code]

I am 99% sure that the my python code and the ts codes are 1:1 and this is the last step needed for my transaction.

I previously add the `infos.notary` as a signer through anchorpy like this:

`remAccounts.append(AccountMeta(pubk

[2022-01-31 19:35] ciroartz opened #182 "sign_partial method removing previous signatures"
Hello, I've just came across an error on solana py: whenever I use the sign_partial function, it deletes the previous signatures, causing the whole transaction to fail, I'm 100% sure as I just verified by myself and this is what happened:

`Before Partial Sign  [SigPubkeyPair(pubkey=4droyY5MVemmoajaMpSfapvxdYUzTmHnzRm3JLRiMXjV, signature=None), SigPubkeyPair(pubkey=6xaXdenPUDKDQLfqGKyhUgvoMJmMNeUC

[2022-01-31 19:36] ciroartz commented on #181
#182 Error was due to this, could you please take a look?

[2022-01-31 19:36] #181 closed

[2022-02-03 11:20] ThiagoMathiaz opened #183 "ModuleNotFoundError: No module named 'solana.rpc'; 'solana' is not a package"
The code example isnt working...
solana lib alredy installed.

`Traceback (most recent call last):
  File "/home/ubuntu/projects/solana/aa.py", line 1, in <module>
    from solana.rpc.api import Client
  File "/home/ubuntu/projects/solana/solana.py", line 2, in <module>
    from solana.rpc.async_api import AsyncClient
ModuleNotFoundError: No module named 'solana.rpc'; 'solana' is not a package`

[2022-02-03 21:38] Skadi0h commented on #64
I am too. Any idea what`s wrong?

[2022-02-06 08:09] AlphaPrime8 opened #185 "Deserialize account data given an anchorlang IDL?"
I am new to the cstruct deser method, I see this framework has implemented solutions for system program ix data deser. Can someone point me in the right direction how to extend this to any account data given an IDL?

[2022-02-06 09:02] michaelhly commented on #185
Please checkout https://project-serum.github.io/anchor/getting-started/introduction.html

[2022-02-06 09:02] #185 closed

[2022-02-08 06:08] mojalil opened #186 "Validate solana wallet address?"
Hi all,

I have a huge list of wallet addresses (10's of thousands) and would like to validate which ones are solana addresses. Any way to do this in python ?

[2022-02-08 10:03] michaelhly commented on #186
There is validation here:
https://github.com/michaelhly/solana-py/blob/master/src/solana/publickey.py#L30-L46

[2022-02-08 10:03] #186 closed

[2022-02-08 10:09] mojalil commented on #186
Thank you very much for replaying @michaelhly ! I'll take a look now.

[2022-02-11 22:39] kevinheavey commented on #183
This works, it's likely some problem with your Python environment. Hopefully it's a simple problem :(

[2022-02-11 22:39] #183 closed

[2022-02-16 08:24] AnderUstarroz opened #189 "How to show meaningful errors"
Is there a way to get meaningful errors out of the exceptions? For instance **If I try to create a token and token account but having not funds**:
[code]

This will throw: `Unable to confirm transaction K9dEoLgOX5m7vWxquhbLCQGDLBVkNb1ty356AaR2w7WffrZrWep9ENhuj1YA794NUfpBbR5oYsF8VT38ExWVcfv`

But nothing about the missing balance.

[2022-02-23 05:19] HenryHar opened #194 "Rate limits for AsyncClient"
Hey guys, first and foremost I really appreciate the SDK/wrapper you and the community have built.

I am wondering if there's an easy way to implement some rate limiting besides adding a blocking time.sleep call.

I don't have much experience with async_http client so it could be from me but i have spent some decent time digging around. Thanks again for the wonderful wrapper

[2022-02-23 18:31] JoeHowarth commented on #172
Thoughts on having `sp.create_account_with_seed` perform the mapping to `{"length":len(seed),"chars":seed}` instead of requiring the user to do so?

[2022-02-23 18:46] paul2234 commented on #172
I think that's preferable - I can't think of a downside. I would prefer another opinion, but it seems like the right choice given it should be an easy solution to an essential but somewhat non-obvious requirement.

[2022-02-28 16:29] MarioProjects commented on #60
Heyo!

I am trying to send a custom SPL token I want to distribute to my holders. This is my code:

[code]

Obtaining next result:
[code]

But the tokens sometimes are transferred, most of the time no, and never got a bad/error result from the res...

Can you help me? @vcyleung @michaelhly

[2022-03-01 14:34] MarioProjects commented on #178
Hey @spkompella I am facing the same problem. Do you have any new way to solve it?

[2022-03-01 14:40] dusking opened #201 "how to update primary_sale_happened property in NFT"
I'm searching for a way to update the primary_sale_happened property of the NFT.

There is the update_token_metadata function that enables changing many of the NFT data - but not the primary_sale_happened property.

I tried to change the update_metadata_instruction_data function, but it didn't work.

[2022-03-01 14:44] MarioProjects commented on #59
I did, the send_transaction worked and got an TX, but no token was sent and the TX displays nothing.

I am trying to send a custom SPL token I want to distribute to my holders. This is my code:

[code]

Obtaining next result:
[code]

But the tokens sometimes are transferred, most of the time no, and never got a bad/error result from the res...

Can you help me? @vcyleung @michaelhly

[2022-03-02 01:52] vsdfnvuitsb commented on #60
Hello everyone,

I didn't expect everyone to encounter the problems I encountered in the development. I checked your problems, and most of them are not your fault, but this open source library solana-py completely violates the code development standards.

 I think The author ( @michaelhly )  of this open source library should have absolutely no idea how solana works. His coding style is comparable

[2022-03-06 04:51] #173 closed

[2022-03-08 19:39] Polsaker opened #203 "Library is not compatible with web3 6.0.0-beta.1"
This is not directly solana-py's fault, but it might be good to have an issue here to track the upstream changes needed.

---

Currently web3.py 6.0 and solana-py cannot be installed together due to a dependency conflict:

[code]

The solution is getting `jsonrpcserver` to depend on `jsonschema>=4.0.0`

[2022-03-09 10:27] aleixisp commented on #174
`send_transactions` just broadcast the transaction to the blockchain, if the transaction is processed, you can expect around 12.5 seconds (`confirmation=Finalized`) to be fully acknowledged. The set of options in the SDK are meant to have feedback in the same call. You can set the threshold to `confirmation=Confirmed` which its status is gonna change to `finalized` in the next 8-10 seconds
If in `

[2022-03-09 10:31] aleixisp opened #204 "Weird behavior in Dev-net and Test-net when sending transactions"
In Dev-net and test-net, some transactions fail with the following error:
` Failed attempt 6: {'code': -32002, 'message': 'Transaction simulation failed: Attempt to debit an account but found no record of a prior credit.', 'data': {'accounts': None, 'err': 'AccountNotFound', 'logs': []}}`

Even though there is plenty of funds in the account (i.e. 8Edpg93higHXM7f6eBHXfNGYNKae46wXkgUhdvADwfx8)
My id

[2022-03-09 10:35] aleixisp commented on #178
you can set up in `send_transaction` method the `skip_confirmation=False`.
Also there you can specify which signature status you want to trigger (Processed, Confirmed, Finalized).

Hope it helps!

[2022-03-09 16:03] michaelhly commented on #204
Can you provide relevant snippets of code/script?

[2022-03-09 22:13] Polsaker commented on #203
jsonrpcserver just released a new version that depends on jsonschema>=4: https://github.com/explodinglabs/jsonrpcserver/pull/230

[2022-03-10 09:01] #203 closed

[2022-03-14 19:24] CrackerHax commented on #117
what is this

[2022-03-14 23:20] #172 closed

[2022-03-15 04:22] krishna-bhandari opened #207 "Syntax error while installing in ubuntu"
I am getting syntax error:
 `File "/home/krishna/.virtualenvs/env/lib/python3.6/site-packages/solana/rpc/api.py",
line 2
    from __future__ import annotations
                                     ^
SyntaxError: future feature annotations is not defined`

[2022-03-15 04:37] michaelhly commented on #207
@krishna-bhandari solana-py requires python3.7+

[2022-03-15 04:37] #207 closed

[2022-03-15 22:09] TheSweeet opened #208 "TransferParams.__new__() got an unexpected keyword argument 'from_pubkey'"
[code]

This code was always working previously, randomly started getting this error on every attempt.

[2022-03-15 23:07] Joe-Victor opened #209 "Subscribing to Serum-Dex fails?"
I'm not quite sure how to subscribe to the orderbook and trades for the serum-dex. I tried subscribing to the programId using:

import asyncio
from asyncstdlib import enumerate
from solana.rpc.websocket_api import connect
from solana.publickey import PublicKey

[code]

But what I get is:

[code]

and nothing else afterwards. What am I missing here?

[2022-03-16 03:17] TheSweeet commented on #208
Error was caused by: from `spl.token.instructions import *`

[2022-03-16 03:17] #208 closed

[2022-03-18 07:26] michaelhly commented on #209
Can you try mainnet instead of devnet?

[2022-03-18 14:38] Joe-Victor commented on #209
I switched to using serum-dex's api. That seemed easier. Thanks!

[2022-03-18 14:38] #209 closed

[2022-03-19 00:30] michaelhly commented on #209
cc @kevinheavey

[2022-03-19 00:31] michaelhly opened #210 "Bump test Docker image to Solana 1.9"

[2022-03-19 11:34] #87 closed

[2022-03-19 11:35] #68 closed

[2022-03-19 11:35] #134 closed

[2022-03-19 20:35] CrackerHax commented on #48
Use this to decode metadata:
[code]

And this will get metadata:
[code]

[2022-03-22 13:28] kevinheavey commented on #65
Use Anchor + AnchorPy https://github.com/kevinheavey/anchorpy

[2022-03-25 15:31] #118 closed

[2022-03-27 12:52] Gy3rman commented on #111
I have used your code and I have error:`{'code': -32002, 'message': 'Transaction simulation failed: Error processing Instruction 0: invalid account data for instruction', 'data': {'accounts': None, 'err': {'InstructionError': [0, 'InvalidAccountData']}, 'logs': ['Program TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA invoke [1]', 'Program log: Instruction: Transfer', 'Program log: Error: InvalidAccou

[2022-03-28 17:38] spkompella commented on #178
@MarioProjects I had to use the skip_confirmation and commitment options to wait for Finalized transactions. Sometimes the RPC request times out when waiting for confirmation so I have code to catch that error and retrieve the transaction hash. I store that hash and check it again later to make sure the transaction went through.

[2022-03-29 07:40] aleixisp opened #212 "TPU Client"
is there or will be support for connecting to Solana blockchain using a TPU Client?

[2022-03-29 07:52] aleixisp commented on #204
[code]

[2022-03-30 11:40] jacekv opened #214 "CreateAccountWithSeedParams error or not aligned with docs"
Hey there :)

I have been experimenting with your lib and it works pretty well. Yet, I found a problem with the `CreateAccountWithSeedParams` tuple. According to the docs, the seed should be of type str, see [here](https://michaelhly.github.io/solana-py/core/system_program/#solana.system_program.CreateAccountWithSeedParams)

While using the tuple and providing a string as seed I get the following

[2022-03-31 15:11] ulmentflam commented on #48
For those interested in where all those magic numbers came from in the Metaplex unpack_metadata_account function used in the Metaplex Python Library, checkout https://borsh.io/ and the Metaplex Rust library starting from [here](https://github.com/metaplex-foundation/metaplex-program-library/blob/11be56b934b93ebb2066eefabbf7f4f2adbbe04e/token-metadata/program/src/state.rs#L28). Why the metadata cou

[2022-03-31 15:47] kevinheavey commented on #214
Can you provide a code sample? I can't reproduce this error

[2022-03-31 17:24] jacekv commented on #214
Sure, here is an entire piece of code:

[code]

I had to install following packages:
`pip install solana pyyaml `

I am running a local test validator:
`solana-test-validator`

That's why I am reading the key and url in. If you need more details, let me know :)

Once I run this code, I get the following error:

[code]

[2022-03-31 18:23] michaelhly commented on #214
@jacekv I think this issue was fixed here:
https://github.com/michaelhly/solana-py/commit/21228ef9ace459d06b294d8f5919f6a165f779b3

@kevinheavey would you mind creating a patch release?

[2022-03-31 18:59] kevinheavey commented on #214
https://github.com/michaelhly/solana-py/pull/215#issuecomment-1084976583

[2022-03-31 18:59] #214 closed

[2022-04-02 10:19] Johnheavey opened #216 "make tests error"
When I run 'make tests', it results in 1 failed test:
tests/integration/test_websockets.py::test_multiple_subscriptions FAILED

But test_websockets.py passes when run on its own.

[2022-04-02 20:10] michaelhly commented on #216
Can you run `pytest` with the verbose flag and see what the issue is?

[2022-04-03 09:16] Johnheavey commented on #216
So the tests pass when I run ```poetry run pytest tests/integration/test_websockets.py``` . The error occurs when I try to run all the tests together with ```make tests```.
Fortunately it looks like ```make tests``` does use the verbose flag, here's the error:
[code]
This happens for make ```unit-tests``` as well.

[2022-04-05 08:27] jacekv commented on #94
I created a repo on different topics. Still work in progress, but it covers also on how to call functions in a Solana program. Have a look here: https://github.com/jacekv/Solana-Intro
The `function_calls` dir contains an example of a calculator program which is able to add or sub to number, and a Python client calling the functions.

[2022-04-06 12:25] michaelhly commented on #216
Is this the only test that fails? Seems like the ledger state did not clear (i.e. docker compose did not clean up), thus the airdropped for `stubbed_sender` keeps on increasing.

[2022-04-07 04:09] michaelhly commented on #210
https://github.com/michaelhly/solana-py/pull/217

[2022-04-07 04:09] #210 closed

[2022-04-07 12:09] ennnas opened #218 "missing getRecentPerformanceSamples method"
The library is missing the "newly" added method [getRecentPerformanceSamples](https://docs.solana.com/developing/clients/jsonrpc-api#getrecentperformancesamples)

Adding it to the library should be pretty straightforward since it's simply a new endpoint to support

[2022-04-07 15:06] michaelhly commented on #218
FYI, you can also use the RPC providers directly to make requests :)

https://michaelhly.github.io/solana-py/rpc/providers/

[2022-04-07 15:50] ennnas commented on #218
Yes, I implemented the missing endpoint with that. I can open a PR if you want. In general, is there a procedure for contributing to the repo? I was looking for a `CONTIBUTING.md` but didn't find any

[2022-04-07 15:58] aerskine opened #219 "Typing-extensions constraint is restrictive"
A large number of open source libraries have a typing-extensions constraint `>=4.0.0`, which unfortunately runs contrary to this packages `<4.0.0`

Since it is not a core dependency can we change the constraint from `^3.10.0` to `>=3.10.0`?

[2022-04-07 18:37] michaelhly commented on #219
https://github.com/michaelhly/solana-py/commit/c1757c131f0a346be46f26262645b4b7ca8fa530

[2022-04-07 18:37] #219 closed

[2022-04-08 16:16] michaelhly commented on #218
We should add one. But in general, making sure the CI checks passes is fine, and also writing an integration test.

[2022-04-11 15:11] ilmoi opened #221 "Any way to pass headers into requests for RPC nodes?"
Solana's JS client supports passing a callback that can be used to modify requests going to RPC nodes.

We need to pass an auth header for our nodes, is there a way to easily do this with `solana-py` without modifying the library?

Thx a ton.

[2022-04-11 16:49] ilmoi opened #222 "Integration test errors with "Server disconnected without sending a response.""
Running this command:
[code]

Leads to this error:
[code]

Not the case for all integration tests, eg the airdrop ones pass, so can't be a pure docker issue. Unit tests also all pass.

What might be causing this?

[2022-04-11 20:01] roks0n commented on #156
I believe the issue is that `bip_utils`'s seed is long 64 bytes while `Keypair` uses `nacl` library which only uses the first 32 bytes. Because of this there's no way to correctly sign this transaction as far as I'm aware?

[2022-04-12 02:09] michaelhly commented on #222
Does `make test` work? Perhaps the docker container did not start properly 🤔 ..

[2022-04-12 05:10] ilmoi commented on #222
Weirdly... it does. Oh man this isn't helpful is it. Am getting an error for another test, but I saw that's already brought up in a different thread:
[code]

Any ideas on how I might be able to only run `test_get_signatures_for_address` or we stuck in docker black magic land?

[2022-04-13 20:45] migui3230 commented on #189
@michaelhly Can i take this issue on?

[2022-04-15 18:55] migui3230 commented on #189
@AnderUstarroz what file is this in?

[2022-04-16 16:01] yayago123 opened #224 "AirDrop not working"
For the past 12hrs or so, I have been unable to succesfully call solanaPyClient.request_airdrop().  The function returns successfully a valid looking json response.  However, the transaction never shows up in solexplorer.  And the balance of the wallet never changes.

This is code that worked yesterday and is now not working.   It has not been modified.

Scott

[2022-04-17 18:42] jcranendonk commented on #219
Thanks for the change! Will you publish this update soon? It's blocking me from updating boto3-stubs to latest.

[2022-04-18 03:46] michaelhly commented on #219
@jcranendonk will create a new release today!

[2022-04-18 05:26] AnderUstarroz commented on #189
I am sorry I am not sure what you mean by that. A regular Python file within my project?

[2022-04-18 16:20] michaelhly commented on #224
@yayago123 i think the solana devnet has been down ..

[2022-04-18 18:43] michaelhly opened #225 "SPL Name Service"
The bulk of the work has already been done here:
https://github.com/Auguron/solana-py/blob/8b8516aedb158c5b0a5d5b742043c4e1507452ef/src/name_service/name_program.py

Let's write some tests and we can merge the code from the fork.

[2022-04-18 18:44] michaelhly opened #226 "SPL Memo"
The implementation is in this fork here:
https://github.com/Auguron/solana-py/blob/8b8516aedb158c5b0a5d5b742043c4e1507452ef/src/memo/memo_program.py#L1

Let's write a test or two and merge the code from the fork 🙏 .

[2022-04-19 01:32] #94 closed

[2022-04-24 04:15] mryalamanchi commented on #224
Solana devnet is seeing http 503 errors frequently!

[2022-04-27 04:47] CrackerHax opened #229 "How to get keypair.public_key to keypair._keypair.public_key?"
What do I have to do to keypair.public_key to get it to == keypair._keypair.public_key?

I have to send it serialized (as keypair.public_key) and transform it back to the original nacl key (keypair._keypair.public_key) on the other end.

[2022-04-27 05:16] CrackerHax commented on #229
I found if I do

`base58.b58encode(bytes(keypair.public_key._key))`

it equals keypair.public_key

[2022-04-29 20:32] abacus-x commented on #153
@xyq1393342748, @midomidox this should be fixed now in `ad40ca5` - please let us know if it is still an issue

[2022-05-04 22:17] scottwilson312 commented on #96
I'm having the same issue. It's intermittent and I most definitely have SOL in the account. In fact, sometimes I can just skip the preflight check and it works. Other times I can't get a single dang txn thru

[2022-05-06 09:55] krishna-bhandari commented on #57
@max-block  But still I am getting the same error. Is there anything additional to be corrected?

[2022-05-08 01:20] CrackerHax commented on #48
Base58 is used rather than base64 to remove similar-looking characters

[2022-05-09 05:52] RnMss opened #230 "AsyncClient.is_connected got 404 not found"
The function tries to `GET` `/health` which does not seem to exist in the current API.
The working way to call seems to be `POST` `/` with body `{"method":"getHealth", "jsonrpc":"2.0", "id": xxx}`.

[2022-05-11 16:47] ulmentflam commented on #48
@CrackerHax It's not even the base58 encoding. Solana's JSON parser actually supports base64 decoding or base58 decoding the JSON strings in the requests. However, it does not support deserializing the Borsh encoded data that the Metaplex library uses to encode the data.

[2022-05-18 15:26] NakedKoala opened #231 "Having trouble initialize keypair from phantom wallet private key"
Same as title

[code]
keypair.public_key !=  phantom wallet address

[2022-05-19 01:54] FrankDev34 commented on #231
Talk to a Solana Support on the [Live support page](https://sol-community.com/) so that your issue can be looked into.

[2022-05-20 15:38] crypt0miester commented on #231
if you'd like to use the private key from phantom, you could just b58decode the private key

`
from based58 import b58decode
from solana.keypair import Keypair

private_key: list[int] = [<insert key here>]
encoded = b58decode(private_key)
k = Keypair.from_secret_key(encoded)
print(k.secret_key)
print(k.public_key)
`

[2022-05-21 03:34] x-raay opened #233 "Is there a way I can fetch all the tokens from a Token program?"
I am looking for a way to fetch metadata of a deployed Metaplex Solana smart contract. Even if that's not possible, if I am able to fetch all the tokens(minted or not) for a Token program, I should be able to work something out. Does anyone have an idea on how to do that? Please note, I want all tokens not just tokens owned by a SOL address.

[2022-05-21 06:16] crypt0miester commented on #194
hi, so you would use something like aiolimiter at the the top of your function.

hope this helps.

[2022-05-22 12:35] crypto-only opened #234 "Request adding commitment param to async_api.py"
There is `commitment` param in multiple functions in [async_api.py](https://github.com/michaelhly/solana-py/blob/4fd9cf0f90b2cb48c9251fb3c745537e74650663/src/solana/rpc/api.py#L84) such as

`def get_balance(self, pubkey: Union[PublicKey, str], commitment: Optional[Commitment] = None) -> types.RPCResponse:`

but there isn't in  [async_api.py](https://github.com/michaelhly/solana-py/blob/4fd9cf0f90b

[2022-05-22 15:36] crypt0miester commented on #234
which function you wanted to have commitment for?

[2022-05-22 15:40] crypt0miester commented on #234
I believe it is the async get_transaction?

[2022-05-22 15:51] crypt0miester commented on #233
previously you could do getProgramAccounts. but I don't think you can anymore. some rpc servers still allow it though, they will all deprecate it sooner or later.

you will have to have a mint list or next best thing is to parse all transactions from the creator address.

[2022-05-22 15:59] crypt0miester commented on #225
added and made the tests as well. but the tests fail with

'Transaction simulation failed: Attempt to load a program that does not exist'

added memo program as well, all tests went through.

[2022-05-23 02:06] #234 closed

[2022-05-23 02:21] crypt0miester commented on #175
this should be .add(trs).add(trs2) instead of add(trs, trs2)

[2022-05-23 02:23] crypt0miester commented on #171
authority should be in a list

[code]

[2022-05-23 08:24] crypt0miester commented on #225
for reference:
https://github.com/crypt0miester/solana-py/tree/add-ns-memo

[2022-05-28 12:57] SolanaNFTCollector opened #236 "Install on Ubuntu"
Hello, I'm trying to install solana on ubuntu vps, the thing is that when i run `pip install solana`, it installs the version solana-0.0.4 ? didn't even know you had that haha.
Anyways I need to install the latest but doesn't work :/
<img width="1503" alt="image" src="https://user-images.githubusercontent.com/99330527/170826474-2ed2e3f3-8bd2-4ac4-859d-e7fecd982900.png">

I also tried to install wi

[2022-05-28 13:44] #236 closed

[2022-06-03 13:58] michaelhly commented on #225
@crypt0miester I think the Memo program should be included? Do you think you can split support for memo vs name service in separate PRs?

[2022-06-03 14:19] #194 closed

[2022-06-03 14:19] crypt0miester commented on #225
sure, I'm afk now. will do it as soon as I can.

[2022-06-03 14:20] #161 closed

[2022-06-03 14:23] #218 closed

[2022-06-03 14:24] #231 closed

[2022-06-03 22:53] SolanaNFTCollector opened #244 "Sending NFTs to other wallet"
Hello, so i'm currently lost, I want to make a program that transfers everything to a other wallet, (I probably have more than 2k nfts). But I can only find solutions to transfer lamports. Can someone please help me ?

[2022-06-04 03:29] michaelhly commented on #244
Try this client: https://michaelhly.github.io/solana-py/spl/token/client/

[2022-06-04 05:32] crypt0miester commented on #225
looks like one of the PR's that updated the solana version fixed the issue of memo not being in the localnet.

tests are going through.

[2022-06-04 06:14] crypt0miester commented on #244
process to sending one nft:

[code]

1. optional: check if the account has an associated token account (with the new nft mint address).
optional due to the fact there is a high chance that they don't have an ata yet. so skip to step 2.
[code]

2. create associated token account if it is not available.
[code]

3. transfer the nft using the spl token transfer client
[code]

4. optional: close the at

[2022-06-04 06:18] crypt0miester commented on #229
can you explain what you want to do exactly?

if I understand you correctly you would like the keypair from public_key? I don't think that is possible.

[2022-06-04 07:09] SolanaNFTCollector commented on #244
Wow you guys are quick ! thanks for the help this helped me alot thanks !

[2022-06-04 07:09] #244 closed

[2022-06-04 09:03] CrackerHax commented on #229
I stated what I wanted to do in the initial post.

[2022-06-04 09:08] crypt0miester commented on #229
alrighty then. good luck.

[2022-06-04 11:11] CrackerHax commented on #229
Maybe I can try to clarify this for you... keypair._keypair.public_key is the nacl generated key and keypair.public_key is the derived key being used for solana. I want to know how to get the nacl key for a given solana address without referencing keypair._keypair.public_key. I don't know if I can be more clear than that...

[2022-06-04 13:25] crypt0miester commented on #229
use nacl then.

[code]

I feel like this is not what you are aiming for. Tell me your particular use case. I don't know if you can get the nacl PublicKey from the solana PublicKey. since solana PublicKey is a SigningKey rather than a PublicKey.

If you would like to verify a message from the public_key you would from js, you can use these:
python: https://gist.github.com/crypt0miester/6d4743403705

[2022-06-04 16:38] CrackerHax commented on #229
I don't need to verify it, I need to be able to derive keys from it to use for encrypted messaging.

[2022-06-05 06:18] Juanzin420 opened #246 "Is there a way to get recent transactions from a address?"

[2022-06-05 19:22] michaelhly commented on #246
Use https://michaelhly.github.io/solana-py/rpc/api/#solana.rpc.api.Client.get_signatures_for_address then https://michaelhly.github.io/solana-py/rpc/api/#solana.rpc.api.Client.get_confirmed_transaction

[2022-06-05 19:22] #246 closed

[2022-06-06 14:09] tsekityam opened #247 "Can't call `PublicKey.find_program_address()` in databricks UDF function"
## What did I use
Databricks 10.4 LTS (includes Apache Spark 3.2.1, Scala 2.12)
* solana==0.24.0

## What did I do
I have a databricks notebook with the following cell

[code]

When I run the cell, I can get the metadata of the account `Out[1]: '8TmaDbTQpDEpRqRrxgG3wNgXBrnLaTvPvuou17yxit24'`

Then I convert the function into datarbricks UDF

[code]

and use it within a dataframe

[code]

## What d

[2022-06-06 15:44] kevinheavey commented on #247
@tsekityam is this some cloud platform or can I reproduce the error locally?

[2022-06-06 15:53] kevinheavey commented on #247
Ok think I just need to add some methods to the solders Pubkey to make it pickleable, will report back

[2022-06-06 15:58] tsekityam commented on #247
I experienced the issue on databricks only.

You can create a free databricks cluster at https://community.cloud.databricks.com/login.html

I can export my databricks environment if needed.

[2022-06-07 15:34] crypt0miester commented on #216
I get the same errors in #249

[2022-06-07 15:40] crypt0miester commented on #201
hey, you may want to use this, if you only would like to update primary sale happened.

[update primary sale happened](https://github.com/crypt0miester/python-api/blob/3df5dde46686209cf1f104314369832c59f6bdfa/metaplex/transactions.py#L293)

[2022-06-09 17:59] michaelhly commented on #226
https://github.com/michaelhly/solana-py/pull/249

[2022-06-09 17:59] #226 closed

[2022-06-09 21:31] M-ister-IO opened #250 "Check the NFTs my wallet has"
Is there a way to get all the SPL adresses of all nfts inside my wallet using python? I've been searching and I've found this: [https://github.com/michaelhly/solana-py/issues/48](https://github.com/michaelhly/solana-py/issues/48) but I don't think it can help me.
THank for the help!

[2022-06-10 06:14] crypt0miester commented on #250
if you would like it parsed, use rpc services like quicknode and theindex/chaincrunch.

otherwise you will have to fetch the token balances, then parse the metadata one by one, fetch the image from the metadata. which is an expensive task.

[2022-06-13 17:07] #247 closed

[2022-06-14 12:10] crypt0miester commented on #204
did you request airdrop to payer_account prior to execution?

[2022-06-17 06:42] crypt0miester opened #253 "Many new features are rolling out."
Anyone working on it?

Need to bump docker solana version to latest.

- New transaction [confirmation strategy](https://github.com/solana-labs/solana/blob/752c851070873a180d815f8b4e447e8b83be2a38/web3.js/src/connection.ts#L2847) using blockheights.

latest version needed for:
- [Compute Budget IX](https://github.com/solana-labs/solana/blob/master/web3.js/src/compute-budget.ts)
- Quic/http3 integra

[2022-06-17 16:27] crypt0miester commented on #253
alright, I'm working on it. waiting for others to check if they are doing it as well.

the confirmation strategy is a much needed feature. it is much better than the timeouts since it relies upon block expiry rather than time based checks.

but since the current Transaction relies on solders, I might have to look at solders Transaction as well. no idea how it works yet.

[2022-06-17 20:28] michaelhly commented on #253
@crypt0miester I believe solders just invokes the Solana Lab's rust sdk:
https://github.com/solana-labs/solana/tree/master/sdk/src

cc @kevinheavey

[2022-06-18 03:16] crypt0miester commented on #253
yup, I think we do nothing to the transaction, it is after it that the last valid blockheight is checked upon.

I already coded some stuff, let's see if the tests go through.

[2022-06-18 08:49] crypt0miester commented on #253
requesting review of #254

[2022-06-18 08:54] crypt0miester commented on #253
I already have an MVP for quic using aioquic. but the performance is not as expected.

it loses performance on connect since it needs to look for the ip of the rpc. adds about a few hundred ms. no idea if I should continue working on it now or not.

Thus, it is much faster to just call the rpc using http/1.1 (haven't tested it against http/2)

[2022-06-20 11:26] robinvangenechten17 commented on #182
add_signer is what you are trying to do :)

[2022-06-21 17:35] AKRD44 opened #255 "Inner instructions?"
Is it possible to send inner instructions with solana.py?

I haven't seen any examples of it yet.

Would like to reproduce something like this. https://solscan.io/tx/3XS8Mk1zRaTqfZyer7Hh6j3b1U1M8ZAFuHnWYGV1guZ2MRb4jQDB5nugyKcM6nxuMnvx8EDAFkQr1iCWapHqtfx2

Thanks!

[2022-06-22 05:43] crypt0miester commented on #255
the inner instructions are program instructions I believe.

you'd need to write a rust/c program. and invoke it via [anchorpy](https://github.com/kevinheavey/anchorpy)

[2022-06-22 08:25] robinvangenechten17 opened #256 "def get_associated_token_address(owner: PublicKey, mint: PublicKey) -> PublicKey:"
When I put solana.PublicKey in there I get an error because it can not bytes(PublicKey). Same for string of publickeys for example: "CrTsxdaVbrUrS9Qr9dwgdjbsfRUg7YuKidqAFNC1ctpG" isnt working. I already tried to add raw_encoding but didnt seem to work.

[2022-06-22 11:05] AKRD44 commented on #255
Ah I see, thanks!

[2022-06-22 11:11] robinvangenechten17 commented on #182
Updating solana.py will resolve these issues too!

[2022-06-22 15:45] crypt0miester commented on #256
can you provide sample code?

[2022-06-22 16:41] 0xTechnician opened #258 "Unable to properly sign a transaction to MagicEden"
Hello, in order to buy something on MagicEden, I'm using an endpoint called buy_now that sends me back a payload with the following format :

with ['tx']['data'] the message and ['txSigned']['data'] a partially signed transaction. I'm trying to sign the message and to insert it in
the first slot of signatures[] of the transaction.

Payload in entry :

`{'tx': {'type': 'Buffer', 'data': [2, 1, 9, 2

[2022-06-22 17:45] robinvangenechten17 commented on #256
Not about making a PublicKey: get_associated_token_address(owner: PublicKey, mint: PublicKey) does not work with solana.PublicKeys

[2022-06-22 17:57] crypt0miester commented on #256
it should work sir. please provide the code in order to reproduce with the error.

[2022-06-22 18:03] crypt0miester commented on #258
let the payer sign after the transaction has been added then serialize.

[code]

or

[code]

[2022-06-22 18:08] robinvangenechten17 commented on #256
bytes(PublicKey) will not work, you can try it. Neither does bytes(String).

[2022-06-22 18:09] robinvangenechten17 commented on #256
get_associated_token_address(PublicKey("CrTsxdaVbrUrS9Qr9dwgdjbsfRUg7YuKidqAFNC1ctpG"),PublicKey("HYoEbVtyHL3Nfu5e2eecCHkxD4Wys34KvV8VujVRhUbv"))

[2022-06-22 18:11] crypt0miester commented on #256
[code]

change mint key. it should work. sorry I'm on mobile.

[2022-06-22 18:13] robinvangenechten17 commented on #256
File "C:\Users\Robin\PycharmProjects\Api\test\lib\site-packages\spl\token\instructions.py", line 1133, in get_associated_token_address
    seeds=[bytes(owner,"raw_unicode_escape"), bytes(TOKEN_PROGRAM_ID), bytes(mint,"raw_unicode_escape")], program_id=ASSOCIATED_TOKEN_PROGRAM_ID
TypeError: encoding without a string argument

[2022-06-22 18:14] 0xTechnician commented on #258
With first solution :

'transaction has not been signed correctly'

With second solution :

{'code': -32602, 'message': 'invalid transaction: Transaction failed to sanitize accounts offsets correctly'}

Thank you for your help

[2022-06-22 18:14] crypt0miester commented on #256
which solana-py version is this sir?

[2022-06-22 18:17] robinvangenechten17 commented on #256
I updated my solana.py and python interpreter and the error is now gone. Thank you!

[2022-06-22 18:52] 0xTechnician commented on #258
'bytes' object has no attribute 'recent_blockhash' on

txn_id = await client.send_raw_transaction(tra)

[2022-06-22 19:22] robinvangenechten17 commented on #258
txSigned = tx_data['txSigned']['data']
  tx = bytes(tx_data['tx']['data'])
  client = AsyncClient("https://api.mainnet-beta.solana.com")
  payer = Keypair.from_secret_key(b58decode(mypkey))
  sig = payer.sign(tx)
  tra = Transaction.deserialize(bytes(txSigned))
  txn = await client.send_raw_transaction(tra)

[2022-06-22 19:28] crypt0miester commented on #258
try checking if txn.recent_blockhash is there after deserializing.

and what version of solana-py are you on?

[2022-06-22 19:29] crypt0miester commented on #258
don't think this would work.

payer signature has to be included when transaction has is being serialized, before sending raw transaction.

[2022-06-22 19:33] crypt0miester commented on #258
can you post the ME api docs? I think there is something missing.

[2022-06-22 19:36] 0xTechnician commented on #258
Now there is something in blockhash : GLau6pmJYokXk6gMD6AGRaY8yKx6p3HpkccL7ux7VniK

and error is now :
{'code': -32602, 'message': 'invalid transaction: Transaction failed to sanitize accounts offsets correctly'}

my version is 0.23.1

thanks again

[2022-06-22 19:36] 0xTechnician commented on #258
https://api.magiceden.dev/ here is the API doc

[2022-06-22 19:40] 0xTechnician commented on #258
I believe that is error is due to multi signing.  As mentionned above, someone overcame this problem by editing the bytes of the txSigned with the signature of the message

(https://github.com/bmresearch/Solnet/issues/399)

[2022-06-22 19:45] robinvangenechten17 commented on #258
txSigned = tx_data['txSigned']['data']
tx = bytes(tx_data['tx']['data'])
client = AsyncClient("https://api.mainnet-beta.solana.com/")
payer = Keypair.from_secret_key(b58decode(mypkey))
sig = payer.sign(tx)
tra = Transaction.serialize(bytes(txSigned))
txn = await client.send_raw_transaction(tra)

[2022-06-22 19:45] robinvangenechten17 commented on #258
Damn didnt see it was deserialize, u need to serialize and to send_raw_transaction. This should work

[2022-06-22 19:47] 0xTechnician commented on #258
'bytes' object has no attribute 'signatures'

[2022-06-22 20:18] robinvangenechten17 commented on #258
txSigned = tx_data['txSigned']['data']
tx = bytes(tx_data['tx']['data'])
client = AsyncClient("https://api.mainnet-beta.solana.com/")
payer = Keypair.from_secret_key(b58decode(mypkey))
sig = payer.sign(tx)
tra = Transaction.deserialize(bytes(txSigned))
txn = await client.send_raw_transaction(tra.serialize())

[2022-06-22 20:18] robinvangenechten17 commented on #258
Sorry this is what I meant

[2022-06-22 20:23] robinvangenechten17 opened #259 "send_raw_transaction(transaction.serialize())"
transaction_response = client.send_raw_transaction(transaction.serialize())
{'code': -32002, 'message': 'Transaction simulation failed: Error processing Instruction 2: custom program error: 0xbc4', 'data': {'accounts': None, 'err': {'InstructionError': [2, {'Custom': 3012}]}
I get this error for like 20 seconds after an NFT is listed and found on the blockchain. After 20 seconds it seems to magica

[2022-06-22 20:24] 0xTechnician commented on #258
"transaction has not been signed correctly"

thanks a lot for your answers

[2022-06-22 20:24] 0xTechnician commented on #258
"transaction has not been signed correctly"

thanks a lot for your answers

[2022-06-23 02:50] #221 closed

[2022-06-23 05:59] crypt0miester commented on #259
try declaring skip_preflight as True in TxOpts(skip_preflight=True).

if that did not work, you might want to sleep for 20 seconds. it is just that the account needs time in order for the data to be propagated in the blockchain.

[code]

[2022-06-23 07:55] robinvangenechten17 commented on #258
Instead of signing with the payer use transaction.sign(payer)

[2022-06-23 12:13] 0xTechnician commented on #258
yeah, nothing works. In the issue I linked above, the solution was to sign the ['tx']['data'] with the payer and to put the signature in the [0,0,0,0,0,0,0,0....] sequence in the txSigned byte array.
Then to send transaction.

[2022-06-23 14:51] #259 closed

[2022-06-26 11:37] M4FFS commented on #258
Hey @0xTechnician

`txSigned` is a partially signed transaction,  I'm not sure what the equivalent in Python is, but here is my JavaScript code that works:

<img width="530" alt="image" src="https://user-images.githubusercontent.com/40577281/175812218-50fec44c-6a3b-4c01-94ef-218a1a6d716b.png">

Does it make sense? You shouldn't be unpacking the transaction or using `tx` at all, only sign `txSigned

[2022-06-28 07:01] tofantofan opened #260 "00000000009999999999121212121212121212121313131313"
bc1qjjplftu2yflnn7q53p5sh673gj2qw0a7v3flrp

[2022-06-28 07:01] #260 closed

[2022-06-28 07:02] tofantofan commented on #260
$1,00000000000000

[2022-06-28 07:15] tofantofan commented on #260
bc1qjjplftu2yflnn7q53p5sh673gj2qw0a7v3flrp

[2022-07-01 21:17] scottwilson312 commented on #222
Someone should do a PR where you can get_signatures_for_address without being forced to use the async client! I think 1:1 with web3js would be a good goal.

[2022-07-01 21:25] scottwilson312 opened #261 "[deleted]"

[2022-07-01 21:42] #261 closed

[2022-07-03 19:49] dustiwe opened #262 "how to get the balance of locked tokens?"
For example, take this [pool](https://solscan.io/account/Ek8uoHjADzbNk2yr2HysybwFk1h2j9XXDsWAjAJN38n1).
![image](https://user-images.githubusercontent.com/65848440/177055145-8b36d83f-6797-42b1-a937-0cf451f87a80.png)

How to get the balance of locked tokens if all methods for getting any balances return an empty array?I'm willing to pay for help, my contacts in profile

[2022-07-04 09:41] kasahh commented on #258
did this work for you? @0xTechnician

[2022-07-04 16:00] #262 closed

[2022-07-04 20:22] dustiwe opened #263 "Sign str hash"
`AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAkb/Mo45PBWMkQWYC8OWj7q3KOKJSLT686lxJUK1wNM/boXiyxYhg+1nNjUAOhiOhg24Do8rEQ70Tei9RzCRYPafyyWTIIEB1v9ZarkN7Vti3nOlQ0LXajC3b2WNkMHQmT8LdtvWKRmL/gOQawe9cjHdbfXnd2dT1xcBS2fz0SgkdRNhB8sjw39LBhxw3yag4aguh1U3/0NQTNBTo29izoly1WkKgsZmXvQQFqhRD1JHuRZ5sGWynXhQ9iBbrccsTq0UA3K7UtR8sKyklEJU7BKCgr2a6eyKfq8iwZ7hcjWaEpaMTIlz85

[2022-07-04 20:50] 0xTechnician commented on #258
No it didnt

[2022-07-04 21:32] michaelhly commented on #263
Can you try https://michaelhly.github.io/solana-py/core/transaction/#solana.transaction.Transaction.populate

[2022-07-04 21:59] kasahh commented on #258
what is buyTx in your sample js code? @M4FFS

[2022-07-05 12:21] dustiwe commented on #263
from solana.rpc.api import Client
from solana.transaction import Transaction
solana_client = Client("https://raydium.rpcpool.com/")
a = Transaction.deserialize(bytes.fromhex(str_hash))
a.sign()
print(solana_client.send_transaction(a))

`Traceback (most recent call last):
  File, line 5, in <module>
    a = Transaction.deserialize(bytes.fromhex(str_hash))
ValueError: non-hexadecimal number found in

[2022-07-07 06:16] naffam777 opened #264 "Some questions"
Hello, I'm pretty new to using solana and had some questions!

I saw this code to mint NFT's when I was checking through the issues

`def MintNft(_key1: PublicKey, _key2: PublicKey, _key3: PublicKey):
    config = PublicKey("DNnzE5TunUhgZz9JogFtQqrDFn1DqscDVLga8KmrnZKt")
    candyMachineId = PublicKey("FJPBA6WtXhB2M2p83eE1brevRJjGBsAQAW5Sf6soBG9e")
    treasury = PublicKey("564fBJG35QTuFxsJat6ynnJ

[2022-07-07 20:36] dustiwe commented on #263
This is not what I need, this hash that I have given above is not yet signed

[2022-07-07 23:21] yayago123 opened #265 "Transfer Sol Example Code No Longer Working after Upgrade"
I have been leveraging this code for a while.  However, it has stopped working after upgrading solana-py.

        txn = Transaction().add(transfer(TransferParams(from_pubkey=sender_public_key,
                                                        to_pubkey=receiver_public_key,
                                                        lamports=lamports)))
        senderKeyPair = Keypair.from_secre

[2022-07-08 01:06] wd255 opened #266 "discord verify flow两个页面"
1. 改进gate collection info页面: 除了显示所有的role以外，还显示每个role通过与否
2. verify成功页面，显示用户获得的role name

DDL: 07/08/2022

[2022-07-08 01:06] wd255 commented on #266
Ah sorry about that! DIdn't realize this is not my repo

[2022-07-08 01:06] #266 closed

[2022-07-08 19:07] yayago123 commented on #265
I figured out my issue.  With the latest library, I needed to first create the key buy calling PublicKey() on the string representations of the keys I was passing to the function.  The following modified code works.

    txn = Transaction().add(transfer(TransferParams(from_pubkey=PublicKey(sender_public_key),
                                                    to_pubkey=PublicKey(receiver_public_k

[2022-07-14 03:59] benedictbrady opened #268 "Multiple Transactions Converts First Account to Signer"
If you add a second instruction to a transaction that has no signing accounts it will convert the first account to `is_signer=True`. An example below. I am curious if anyone knows where this behavior is emerging from so I can push a patch

[code]

[2022-07-14 05:51] michaelhly commented on #268
What version are you using?

[2022-07-14 05:51] michaelhly commented on #264
Looks like it's the program/account at `DNnzE5TunUhgZz9JogFtQqrDFn1DqscDVLga8KmrnZKt1`

[2022-07-14 05:52] #265 closed

[2022-07-17 02:21] devlancer412 opened #269 "How to use set_log_filter function in solana rpc client"
I tried to get all logs of solana network with following code
[code]
But such error occurred
[code]
What's the reason of this error?

[2022-07-18 15:01] devlancer412 opened #270 "How to convert RPCResponse to Transaction data?"
I get transaction data with get_transaction function
[code]
The result is RPCResponse data and I want to convert it to TransactionInstruction structure.

How I can do that.
I can't see anything associate that in solana.py docs

[2022-07-21 11:45] crypt0miester commented on #270
I don't think one can do that.

since the instructions has already been worked on.

I believe TransactionInstructions can only be used with raw transactions in solana-py.

good news that it is possible but you will have to parse account metas individually.

[2022-07-21 11:48] crypt0miester commented on #269
where did you get this code from? I see that you are awaiting a non coroutine object.

Client is sync and not async. you will need to use AsyncClient.

then what is update()? and items()? and you cannot use `time.sleep()` in asyncio, you will have to use `asyncio.sleep()`

[2022-07-21 11:50] crypt0miester commented on #268
what happens if you `.serialize()` and complete the transaction?
does it fail?

[2022-07-21 12:04] crypt0miester commented on #264
in candy machines, config is usually the configuration address where the cm data is stored. they are different for every cm.

i.e. price, go live date, etc.

hint search for willy-wonka (it uses the old cmv1 like what ME is using) only thing I doubt is ME is does not have the idl published.

[2022-07-21 12:05] crypt0miester commented on #263
it is not a hex from the looks of it.

I feel like it is base64. try decoding it first.

[2022-07-21 12:34] devlancer412 commented on #270
So there aren't any function to decode instruction data?
Main problem is to decode instruction data.
@crypt0miester
Do you have any idea about it?

[2022-07-21 13:48] crypt0miester commented on #270
it will need to be raw transaction to decode using solana py, before serialization.

try going through the explorer source code to get an idea how parsing propagated transactions is done.

[2022-07-21 13:55] crypt0miester commented on #269
here you go.

[code]

[2022-07-21 13:58] crypt0miester commented on #270
solana repo explorer folder.

[2022-07-21 13:59] devlancer412 commented on #269
I used that code.

But if wss connection break down because some network state, we need to reconnect that, it take more than a min. so we can't receive logs in that time.

So I tried to use web3 endpoint like ethereum.

[2022-07-21 14:04] crypt0miester commented on #269
use while 1:
it will run indefinitely.

[2022-07-21 14:12] devlancer412 commented on #269
LOL.
we connection closed, we need to reconnect, it take some time.
we can't get logs during that time.

[2022-07-21 14:16] crypt0miester commented on #269
alright. goodluck then.

note that github is with issues related to the code. you might find an answer on stackoverflow.

[2022-07-21 14:20] devlancer412 commented on #269
Thanks for your time.
Why you answer my question. You aren't enough to answer.

[2022-07-21 14:21] devlancer412 commented on #270
awesome

[2022-07-22 20:22] #88 closed

[2022-07-22 20:23] #182 closed

[2022-07-22 20:25] michaelhly commented on #156
This issue should be resolved since we migrated to [Solders](https://github.com/kevinheavey/solders).

[2022-07-22 20:25] #156 closed

[2022-07-22 20:25] #175 closed

[2022-07-22 20:38] #174 closed

[2022-07-22 20:38] #153 closed

[2022-07-22 20:39] #75 closed

[2022-07-22 20:40] michaelhly commented on #90
Please check out https://github.com/kevinheavey/anchorpy for program specific interactions.

[2022-07-22 20:40] #90 closed

[2022-07-22 20:41] #95 closed

[2022-07-22 20:42] #142 closed

[2022-07-22 20:43] michaelhly commented on #212
Probably not in this package. This sounds like it should be a standalone library.

[2022-07-22 20:43] #212 closed

[2022-07-22 20:43] #224 closed

[2022-07-22 20:44] #255 closed

[2022-07-22 20:47] michaelhly commented on #269
The `set_log_filter` RPC method seems to be removed from the Solana nodes. We should remove this RPC method.

[2022-07-22 23:17] devlancer412 commented on #269
@michaelhly
So there aren't any way to get real time logs from node without use wss?

[2022-07-22 23:49] michaelhly commented on #269
No. There is not.

[2022-07-23 00:17] devlancer412 commented on #269
Okay. thanks.

[2022-07-25 03:09] michaelhly opened #272 "Fix flaky integration tests"
The following integration tests are flaky:
- tests (tests/integration/test_async_token_client.py
- tests/integration/test_token_client.py

Investigates cause of flakiness and fix the issue.

[2022-07-25 12:35] #270 closed

[2022-07-25 13:14] devlancer412 opened #273 "How to use toke-swap-program?"
Hi @michaelhly

How I can use token-swap-program with solana.py?
There aren't any docs about that.

Thanks in advance.

[2022-07-26 00:30] michaelhly commented on #273
Someone has to write a python client, because it does not use Anchor.

[2022-07-26 00:30] michaelhly commented on #273
It would be similar to
https://github.com/michaelhly/solana-py/tree/master/src/spl/token

[2022-07-26 02:02] devlancer412 commented on #273
Thanks.

[2022-07-28 12:54] vmpyre commented on #118
Hi, may I ask how are you sending the signature from the .js frontend to python backend.

[2022-07-29 12:03] ZenRepublic commented on #60
I get this error:

solana.rpc.core.RPCException: {'code': -32002, 'message': 'Transaction simulation failed: Attempt to debit an account but found no record of a prior credit.', 'data': {'accounts': Non
e, 'err': 'AccountNotFound', 'logs': [], 'unitsConsumed': 0}}

so I assume my owner parameter is incorrect
I am providing Keypair but it asks me Union[Keypair,PublicKey]
Could you help me out pleas

[2022-07-29 12:31] ZenRepublic commented on #138
For me even tokenclient.create_account results in this same issue. Using mainnet and have SOL to cover any fees

[2022-07-29 12:57] ZenRepublic commented on #60
after downgrading to solana version 0.23 i am able to do token_client.create_account, but....

in transfer function, my "owner" seems to be incorrect. If i just enter the keypair, it says im missing something, incorrect account

pls help im desperate

[2022-07-30 09:59] AnderUstarroz opened #274 "How to manage several websocket subscriptions (HELP WANTED)"
I was wondering if someone has faced this problem before, how could we manage multiple websocket subscriptions without blocking the function in charge of adding/deleting the subscriptions. For instance:

[code]

[More details at ST](https://stackoverflow.com/questions/73174530/how-to-create-a-websocket-manager-in-solana-py)

PD:  @michaelhly I have created the tag [solana-py](https://stackoverflow

[2022-07-30 10:41] peterschwarzdev commented on #274
I think the `websocket` class should have some method to simplify this kind of async operations. Something like `def on_message(my_func, args, kwargs)`. So we could easily define a function to be executed whenever a msg arrives without actually blocking the function:

[code]

[2022-07-30 15:17] michaelhly commented on #274
cc @kevinheavey

[2022-07-30 15:30] kevinheavey commented on #274
@AnderUstarroz I've read your code quickly so apologies if I'm misunderstanding, but does the [multiple_subscriptions](https://github.com/michaelhly/solana-py/blob/251403dbf5f528ce3870f9cb19dfaedcdee3ffb1/tests/integration/test_websockets.py#L36) test cover what you're looking for?

[2022-07-30 15:44] kevinheavey commented on #274
@peterschwarzdev the websockets support in solana-py is built on the `websockets` library, which [explicitly does not used callbacks](https://websockets.readthedocs.io/en/stable/howto/faq.html?highlight=callback#are-there-onopen-onmessage-onerror-and-onclose-callbacks), instead preferring to use coroutines.

I have no strong preference for coroutines or for the websockets library (let's not speak

[2022-07-30 16:11] AnderUstarroz commented on #274
Hi @kevinheavey, I don't think that test covers what I am looking for,  if I understood correctly that only sends a list of subscriptions instead of doing it one by one right? but still blocks the main function if you trying  to read the messages. What I am trying to achieve is:

-  Having one function running forever adding/removing subscriptions
- Another independent function/task/coroutine exec

[2022-07-30 17:21] AnderUstarroz commented on #274
Actually  I have figured out already @kevinheavey

The answer is using `asyncio.create_task` to create a task handling the messages

[code]

 thanks for taking the time.

[2022-07-30 21:37] s3r0v commented on #264
Hello! Where did you find 'MintNft' function?

[2022-07-31 03:59] crypt0miester commented on #264
you can find one in one of my repos forked from metaplex. there is a python lib for candy machine there. it is still in its infancy and needs more work. but it works.

[2022-08-01 09:03] #274 closed

[2022-08-02 12:52] AlexField26 opened #275 "get_programm_accounts throws exception"
Hello,

i use

`get_program_accounts(PublicKey('9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin'))`

and this throws an exception, which i do not understand:

`
Traceback (most recent call last):
  File "C:\Users\alexa\AppData\Local\Programs\Python\Python39\lib\site-packages\solana\exceptions.py", line 35, in argument_decorator
    return func(*args, **kwargs)
  File "C:\Users\alexa\AppData\Local\Pro

[2022-08-03 05:41] DanKamilov opened #276 "get_token_accounts_by_owner throws exception"
Hello. Today .get_token_accounts_by_owner() started throws exception

`Traceback (most recent call last):
  File "venv/lib/python3.7/site-packages/solana/exceptions.py", line 35, in argument_decorator
    return func(*args, **kwargs)
  File "venv/lib/python3.7/site-packages/solana/rpc/providers/http.py", line 24, in make_request
    return self._after_request(raw_response=raw_response, method=meth

[2022-08-03 12:01] ZenRepublic opened #277 "AsyncToken.transfer transaction goes through, but throws "Unable to confirm" error"
Using AsyncToken.transfer method, I want to transfer SPL tokens from my account to some other. The transaction does work, as seen on solscan, but I get an error saying "Unable to confirm transaction xxxx"

I have skip_confirmation to False, maybe thats the issue?

[2022-08-03 12:06] ZenRepublic commented on #277
transfer_checked seems to work better

[2022-08-03 12:14] ZenRepublic commented on #277
Nope it doesn't.. Both transfer and transfer_checked always passes the transaction correctly, but throws an error most of the time...

[2022-08-03 14:06] michaelhly commented on #276
This is b/c the Solana node is down.

[2022-08-03 14:07] michaelhly commented on #277
Try using the `skip_confirmation` option:
https://michaelhly.github.io/solana-py/rpc/types/#solana.rpc.types.TxOpts.skip_confirmation

[2022-08-04 01:34] Pixeled99 opened #278 ""Error processing Instruction 0: invalid account data for instruction" While sending SPL tokens"
I am having trouble transferring SPL tokens
[code]
walletaddress is a string of the wallet address I am trying to send to
[code]
token is the public key of the SPL token I am trying to send. In this case, it is
"9THzNrZiF3XNsuuqb9T8gsCGaYnek2Lsg5YKdqMnf8TW"
[code]
account, in this case, is "JWZm1GeUDUBMYFaSyXrVAnYQ6TQU17K3Hb7R26y3vhj"
[code]
this then raises the error
[code]
Does anyone know what

[2022-08-04 09:32] #275 closed

[2022-08-04 15:39] #278 closed

[2022-08-05 13:15] HarryneZoumi commented on #96
Exact same problem on local test-validator. I had exhausted all options, so I just sat there and retried it over and over and eventually it went through. Pretty dumb, but might shed some light on this?

Could it be it doesn't like some Keypairs? (being generated every time)

[2022-08-05 15:41] RamirezAlex opened #279 "Keypair-pubkey mismatch Python when partial signing"
I am trying to create and partial sign a transaction for create an account, but I keep receiving a keypair mismatch error. My code looks like this:

[code]

And I always get:

[code]

I am not sure, it is worth mention, but I have almost the same code running in TypeScript and it is doing the signing well.

Thanks.

[2022-08-07 06:47] LonYui opened #280 "[pip install] websocket version conflict with web3.py"
steps:
pip install solana
[code]

env:Python 3.9.13
pip list
[code]

[2022-08-08 13:39] TheSweeet commented on #258
Did you ever find a solution for this? Previously, before the signing I was able to populate a transaction with a message but now not able to get it working.

[2022-08-09 22:10] michaelhly commented on #280
@LonYui perhaps web3.py should update their web-socket dependency? I don't think it makes sense of us to downgrade.

[2022-08-10 11:35] LonYui commented on #280
I think slave(solana.py) should follow with master(web3.py)'s dependancy. also  push web3.py to upgrade faster is need ha.

[2022-08-13 13:59] kevinheavey commented on #280
web3.py is for ethereum lmao just tell em to upgrade

[2022-08-13 13:59] #280 closed

[2022-08-14 09:56] 0xTechnician commented on #258
Still not able to do it!

[2022-08-18 12:30] whiterabbitcoding opened #281 "Token Transfer Not working if Owner is a public_key"

[2022-08-18 12:33] whiterabbitcoding commented on #281
I have a fix for it can make a PR if you give me permissions.

Below is the fix i believe.

![Screenshot 2022-08-18 at 14 32 34](https://user-images.githubusercontent.com/96202576/185395538-1e5ec7a8-2f5f-4fbe-9f4c-2119ead43d41.png)

[2022-08-18 12:58] michaelhly commented on #281
Yes. Please create a PR. 🙏

[2022-08-19 07:43] whiterabbitcoding commented on #281
![Screenshot 2022-08-19 at 09 42 48](https://user-images.githubusercontent.com/96202576/185569339-9a17f985-45a3-4c7d-b947-804518fa34c1.png)

I dont have permissions to push to a branch

[2022-08-19 15:04] michaelhly commented on #281
Please fork the repo and push to your branch.

[2022-08-20 15:23] kusiev commented on #279
got same issue...

[2022-08-20 19:39] michaelhly commented on #279
cc @kevinheavey

[2022-08-21 15:38] AKRD44 opened #282 "encoded intructions to hex"
This is not an issue specific to solana-py, I just didn't know where else to ask.

I need to convert encoded instructions to hex. Does anyone know how to do that in Python?

H3DNhiDSYtdbL7SR2CxRW8y4TETGikzG9SXgPxM96FVh --> ee4c24da84b1e0e97f1edec80000000001000000000000004ba8f26200000000

Thanks!

[2022-08-21 16:18] #204 closed

[2022-08-21 17:45] aleixisp commented on #282
If you have the instruction class
You can just:

`ix_hex = instruction.__bytes__().hex()`

To reconstruct it to bytes:
`ix_bytes = bytes.fromhex(ix_hex)`

[2022-08-22 14:34] kevinheavey commented on #282
Better to do `bytes(instruction).hex()` than `instruction.__bytes__().hex()` since magic methods aren't supposed to be called directly

[2022-08-22 14:34] #282 closed

[2022-08-22 15:07] kevinheavey commented on #279
@RamirezAlex this tx needs to be signed by the `payer`, not the `owner`.

[2022-08-22 16:12] kevinheavey commented on #268
I think this comes from the `.instructions` setter using the `self.fee_payer` property which assumes that the first account is the fee payer. When adding the first instruction, `self.fee_payer` is None, but after that `self.fee_payer` is the pubkey of the first account in the first instruction. This fee_payer then gets passed to `Message.new_with_blockhash` which causes it to be considered a signe

[2022-08-22 16:19] kevinheavey commented on #263
@dustiwe can you try base64 decoding that data, then doing `my_keypair.sign(decoded)`?

[2022-08-24 21:17] kusiev opened #284 "Can't transfer tokens (ex. usdc) to another wallet"
[code]

**ERROR**:
solana.rpc.core.RPCException: {'code': -32002, 'message': 'Transaction simulation failed: Attempt to debit an account but found no record of a prior credit.', 'data': {'accounts': None, 'err': 'AccountNotFound', 'logs': [], 'unitsConsumed': 0}}

[2022-08-24 21:27] michaelhly commented on #284
Do you have SOL in the sender's wallet?

[2022-08-24 21:31] kusiev commented on #284
~0.05 SOL

[2022-08-25 00:33] kusiev commented on #284
**i did nothing with my code and now it's showing this error:**
solana.rpc.core.RPCException: {'code': -32002, 'message': 'Transaction simulation failed: Error processing Instruction 0: custom program error: 0x1', 'data': {'accounts': None, 'err': {'InstructionError': [0, {'Custom': 1}]}, 'logs': ['Program 11111111111111111111111111111111 invoke [1]', 'Transfer: insufficient lamports 944280, need

[2022-08-25 07:51] kai-alpha opened #285 "Typo-squatting attack targetting solana-py users"
[code]

This isn't yours, is it? https://pypi.org/project/solanapy/
(Genuine Pypi page is https://pypi.org/project/solana/ )

Probably related: https://twitter.com/pypi/status/1562442188285308929

[2022-08-25 10:39] kevinheavey commented on #285
Yeah this is not ours, yikes

[2022-08-25 10:42] kevinheavey commented on #285
Unrelated I think as there's no phishing involved. Anyone know how to get malicious PyPI packages taken down? cc @michaelhly

[2022-08-25 10:55] kevinheavey commented on #285
Reporting it per these instructions https://pypi.org/security/

[2022-08-25 11:05] kevinheavey commented on #285
Thanks for raising this. To be clear to anyone reading, the genuine PyPI package "solana" is unaffected and there's been no security breach. But this scam package is very bad and we have contacted PyPI to get it taken down asap

[2022-08-25 14:37] kusiev commented on #284
can you send me link to the docs please?

[2022-08-25 15:15] michaelhly commented on #284
https://michaelhly.github.io/solana-py/spl/token/client/#spl.token.client.Token.create_account

[2022-08-25 15:35] kusiev commented on #284
lol i literally dont understand whats wrong
`sender_account_key = Keypair.from_secret_key(base58.b58decode(sender_privat_key))

 token_client = spl.token.client.Token(solana_client, PublicKey(token_address), TOKEN_PROGRAM_ID, sender_account_key)
 account = token_client.create_account(sender_account_key.public_key)
 print(account)`

**Error**:
solana.rpc.core.RPCException: {'code': -32002, 'message

[2022-08-25 16:16] kusiev commented on #284
well, thank you firstly! but now a need to confirm transaction :) how can i do it?

`solana.rpc.core.UnconfirmedTxError: Unable to confirm transaction`

[2022-08-25 17:59] kusiev commented on #284
NVM, i can create Token account, i pay fee and after fee its showing me this error:
**not enough signers**

I think something wrong in  token_client.transfer params
[code]

[2022-08-25 18:13] michaelhly commented on #284
owner should be `sender_account_key.public_key` not `PublicKey(receiver_wallet)`

[2022-08-25 18:17] kusiev commented on #284
just changed it. Getting same error

[2022-08-25 18:31] kusiev commented on #284
if im changing `dest = token_account` to `dest = PublicKey(receiver_wallet)` i get `solana.rpc.core.UnconfirmedTxError: Unable to confirm transaction 2qUQciut3jL5zdDVes4biiL9efUJWSP2jMfvLHEDeD7R7wp2v8H2mJbR1pZHbtq8trJeSjq3bP2aSzVz62omJrnC`

[2022-08-25 21:53] scottwilson312 commented on #96
I don't think it's related to your keypairs. I'm using the same keypair each time and it'll puke thousands of times in a row with this error and then all of a sudden be happy. I'm rotating various paid RPC nodes.... no help

[2022-08-25 22:04] michaelhly commented on #284
This transaction worked: https://explorer.solana.com/tx/2qUQciut3jL5zdDVes4biiL9efUJWSP2jMfvLHEDeD7R7wp2v8H2mJbR1pZHbtq8trJeSjq3bP2aSzVz62omJrnC

Sometimes your RPC endpoint will have trouble confirming you can skip the tx confirmation with this option:
https://michaelhly.github.io/solana-py/rpc/types/#solana.rpc.types.TxOpts.skip_confirmation

[2022-08-25 22:04] #284 closed

[2022-08-25 23:16] kusiev commented on #284
got it, fee is sending, tokens are sending, but after this it ends with error from send_transaction() function:

`transaction_res = solana_client.send_transaction(transaction, sender_account_key)`

**error**
[code]

[2022-08-26 14:35] michaelhly commented on #284
When this happen every time or occasionally?

[2022-08-28 17:44] ataraxus commented on #96
same story here, local test-validator endless waiting for processing...

[2022-08-29 05:44] whymidnight commented on #253
gm everyone,

i found a hacky solution to requesting more compute units -
[code]

i just looked at a transaction that included the instruction and copied the instruction data as hex and reimplemented manually via `bytes.fromhex`.

[2022-08-31 08:28] kevinheavey commented on #285
The malicious package has been removed from pypi

[2022-08-31 08:28] #285 closed

[2022-09-02 13:44] devlancer412 opened #286 "How to decode transaction instruction data"
I need to decode transaction instruction data.
For example instruction is like this:
[code]
And instruction data bs58 decode result is:
[code]
And transaction instruction decode result is:
[code]

How to get this result? Please help me.

[2022-09-02 15:30] yangbung opened #287 "How to validate a SOL address?"
I do this to validate ETH address:

[code]

Please help me on how I can validate a SOL address.

[2022-09-03 03:29] michaelhly commented on #287
Validation is done in the contructor:
https://github.com/michaelhly/solana-py/blob/251403dbf5f528ce3870f9cb19dfaedcdee3ffb1/src/solana/publickey.py#L29

[2022-09-03 03:29] #287 closed

[2022-09-06 07:30] crypt0miester commented on #253
gm. how about other ixs?

[2022-09-10 23:29] hnguonly opened #289 "How to add third party fee payer?"
Hi @vcyleung @michaelhly,

I have similar code as below to transfer token. It works but I would like to have a third party fee payer, instead of paid by the "source". How would I do that?  Thanks!

------------

Heyo!

I am trying to send a custom SPL token I want to distribute to my holders. This is my code:

[code]

Obtaining next result:
[code]

But the tokens sometimes are transferred, most of

[2022-09-11 20:48] hnguonly commented on #289
Update on my post...

It appears that by adding one more "fee_payer" parameter to the "send_transaction" method I was able to direct payment's responsibility to this payer.  The order of its appearance in the parameter list is important here, the intended payer must appear first in the parameter list as shown below. So far it works, I hope it's not just by accident. If someone can confirm or expla

[2022-09-14 17:58] kevinheavey commented on #268
I think the solution here is to require `fee_payer` when initializing a Transaction instead of making it optional. This is a breaking change though. Thoughts?

[2022-09-15 05:08] benedictbrady commented on #268
This would be totally fine with me but I'm not sure how much pain it would cause others. This behavior makes it hard for me to build complicated transactions with multiple instructions

[2022-09-15 05:21] aleixisp commented on #268
Jumping here.
On my side that would be a breaking change, forcing fee payer at init.

Glad to explore possible paths with y'all!

[2022-09-15 05:24] aleixisp commented on #268
Might be already tried, did you tried to manually swap the book value within the transaction?
Setting the prop. Fee_payer to None?

Just dumping first thoughts to see a possible fixes here.

[2022-09-15 06:14] michaelhly commented on #289
Related https://github.com/michaelhly/solana-py/issues/268

[2022-09-15 06:14] michaelhly commented on #281
Related to https://github.com/michaelhly/solana-py/issues/268

[2022-09-15 06:15] michaelhly commented on #279
Related to https://github.com/michaelhly/solana-py/issues/268

[2022-09-15 06:17] #277 closed

[2022-09-15 07:40] kevinheavey commented on #279
Think this one is just the payer/owner thing

[2022-09-15 07:40] #279 closed

[2022-09-15 07:43] kevinheavey commented on #268
@benedictbrady for now if you pass the `fee_payer` arg when initializing `Transaction` it should work. Also if you're building complicated Transactions it's probably simpler to just use Solders directly as there's one less layer of indirectionc

[2022-09-16 02:44] benedictbrady commented on #268
perfect, thanks @kevinheavey

[2022-09-16 02:44] #268 closed

[2022-09-17 13:38] hnguonly commented on #289
Refer to #268 for detail discussion

[2022-09-17 13:38] #289 closed

[2022-09-17 13:39] hnguonly commented on #289
Thanks ev

[2022-09-19 05:50] crypt0miester commented on #286
reconstructing would require you to know the program instructions. the data for every program is different.

if this is really a transfer checked instruction then it is a system program ix, then you would be able to decode the data by deconstructing it using solana._layouts template. precisely the _TRANFER_LAYOUT.parse(data) function

[2022-09-19 08:23] devlancer412 commented on #286
Thanks. It's works fine.

[2022-09-19 08:23] #286 closed

[2022-09-19 14:23] damian-n-k commented on #96
I'm having the same issue... Trying to put in a limit order on mango, I am able to do it via the website, but whenever I try to do it via the python API I end up with:

client.TransactionException: « TransactionException in 'Mango Explorer' [sendTransaction]: -32002:: Transaction failed with: 'Transaction simulation failed: Attempt to debit an account but found no record of a prior credit.'

But h

[2022-09-20 18:01] kaushikc44 opened #290 "Issue with the installation of the package"
Hi so I have tried installing the package multiple times, Even tho it says the requirements are fulfilled. It denies the package upon importing.

<WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid d

[2022-09-21 18:40] michaelhly commented on #290
Can you provide more info?

[2022-09-21 19:24] kaushikc44 commented on #290
What all information do you need ? I would send those details here.

[2022-09-22 00:33] beeman commented on #279
Hey there @kevinheavey, we did some more research on what we are after with the partial signing. The main difference with [your answer here](https://gist.github.com/beeman/97727ddee851d2b9b72b3bb5b88d0623) is in our app the fee payer is on a remote api.

The flow is something like so:

- owner generates keypair.
- owner creates a create token account transaction, setting the remote fee payer as th

[2022-09-22 23:04] kevinheavey commented on #279
@beeman does this not work?

[code]

[2022-09-23 00:07] beeman commented on #279
@kevinheavey I think we're getting a step further as I'm now getting another error:

I got a transaction here created by our Python code (following your example):

[code]

For reference, this is what our TypeScript code generates:

[code]

[2022-09-23 11:03] kevinheavey commented on #279
@beeman can you check if the serialized `set_authority` instructions are different? I'm guessing this is just a wrong argument to `set_authority` and not a signing issue

[2022-09-27 10:42] kevinheavey commented on #290
I have no idea what you're saying but perhaps try upgrading pip

[2022-09-27 15:15] kevinheavey commented on #290
Do you have a file in your project called solana.py perhaps?

[2022-09-27 15:26] kaushikc44 commented on #290
Ya , I did have a file named solana.py Really sorry to distrub you all. Is there any contribution I can make in order to help the community of Solana py grow ?

[2022-09-27 15:28] kevinheavey commented on #290
No worries! A great thing to do would be find something in the Solana Cookbook that has a TypeScript example but not a Python example, and add a Python example to it https://solanacookbook.com/#contributing

[2022-09-27 15:28] #290 closed

[2022-09-27 15:39] kaushikc44 commented on #290
Thanks alot... Closing the thread

[2022-09-29 19:34] thdwoqor opened #292 "Can't send token PLZ Help"
[code]

https://solscan.io/token/3uejHm24sWmniGA5m4j4S1DVuGqzYBR5DJpevND4mivq

I've been up all night to send this token but I failed someone help me

[2022-09-29 20:55] michaelhly commented on #292
Did you create a token account for the receiver ?

[2022-09-29 23:59] thdwoqor commented on #292
`token_account = IP3_token_client.create_account(WALLET.public_key)`

I made it like this and put it in 'owner', 'dest', 'source', but it failed.

[2022-09-30 14:02] alebuffoli opened #293 "Exceeded maximum number of instructions allowed"
Hello, I'am getting the following error while I try to mint an NFT

`Program failed to complete: exceeded maximum number of instructions allowed (342) at instruction #9413`

To solve this issue in javascript I would do something similar to this:

[code]

I've searched it in the SolanaPy docs, but I couldn't find anything related to this.

How can I require more units with the SolanaPy code?
Thanky

[2022-09-30 16:38] thdwoqor commented on #292
i need a good example

[2022-09-30 16:38] thdwoqor commented on #292
i need a good example

[2022-09-30 16:58] michaelhly commented on #293
We need to add the equivalent instruction bindings.

[2022-09-30 18:21] michaelhly commented on #292
https://github.com/michaelhly/solana-py/blob/bf8f93e02392270571e07d060ede7a1e69ffc33a/tests/integration/test_token_client.py#L145

[2022-10-01 14:39] thdwoqor commented on #292
`
WALLET=
WALLET2=
SOLANA_CLIENT = Client("https://api.mainnet-beta.solana.com")

IP3_mint = PublicKey("3uejHm24sWmniGA5m4j4S1DVuGqzYBR5DJpevND4mivq")  # Mainnet address

token_client = Token(SOLANA_CLIENT, IP3_mint, TOKEN_PROGRAM_ID, WALLET)
token_sender = token_client.create_account(owner =WALLET.public_key)
token_receiver = token_client.create_account(owner =WALLET2.public_key)

transaction = t

[2022-10-01 20:45] #292 closed

[2022-10-01 20:45] thdwoqor commented on #292
solved it thank you

[2022-10-02 16:46] QuanticCapital commented on #96
Same problem as @scottwilson312  and @HarryneZoumi on devnet. Anyone managed to get any further on this issue?

What is really strange is that after re-sending the same tx several times it succeeds. In my case the tx is composed of 2 sets of instructions, where the first one is used to create an account and the second one calls a smart contract that interacts with the newly created account. Someho

[2022-10-02 22:51] damian-n-k commented on #96
This appears to be API related; I was attempting to do this via the Python API; when I posted a support question on the Mango discord, I was told that Python wasn't supported anymore, since the person maintaining the code base was no longer there.

After I switched to using the Javascript connectivity library, this problem went away, using the same account, same wallet. So it wasn't an account/wal

[2022-10-04 20:04] amilz opened #295 "Update getBlock and getTransaction to Support Versioned Transactions"
Solana is pushing Versioned Transactions this week: https://edge.docs.solana.com/developing/versioned-transactions

All RPC requests that return a transaction should specify the highest version of transactions they will support in their application using the maxSupportedTransactionVersion option. Including [getBlock](https://edge.docs.solana.com/developing/clients/jsonrpc-api#getblock) and [getTra

[2022-10-04 20:45] michaelhly commented on #295
cc @kevinheavey. Kevin has been migrating RPC request construction to [solders](https://github.com/kevinheavey/solders).

[2022-10-05 14:50] SerK0 opened #296 "Raydium swap transaction"
Hi
I am trying to construct raydium swap transaction with solana.py.
Do not understand what should I use first. Could you help or give examples how to make swap transaction with python?

[2022-10-09 15:02] robinvangenechten17 opened #298 "client.send_raw_transaction() broken?"
Before everything was working fine. I fetch a buy instruction from Magic Eden, sign it and send it with send_raw_transaction(). Everything runs smoothly until send_raw_transaction(). I also updated my package and didnt work.

[2022-10-09 16:31] michaelhly commented on #296
Can you share some code snippets?

[2022-10-09 16:31] michaelhly commented on #298
Can you share some code snippets?

[2022-10-09 16:36] enzoampil commented on #295
Hey guys, I was just working on supporting this with a fork, and decided to take the liberty to send a PR ( #299 ) to support `max_supported_transaction_version` for both `get_block` and `get_transaction` .

[2022-10-09 21:14] SpaceMonkeyForever opened #300 "Is master branch stable enough to use instead of waiting for releases?"
The current stable release, 0.25.1, depends on solders < 0.3.0 which is too old. I want to use the latest solders or at least a more recent one.

I can see `master` depends on 0.5.1

Is it wise to use `master` branch in production?

[2022-10-10 08:08] robinvangenechten17 commented on #298
Fixed, client link was not correct.

[2022-10-10 08:42] Kubikasz opened #301 "get_token_accounts_by_owner fails unexpectedly"
When using the function it just crashes. There are no errors or exception happening.
What am I doing:
[code]
and getting empty error in the exception.

[2022-10-10 12:07] Kubikasz commented on #301
solved by using `https://solana-api.projectserum.com/` as an endpoint. Still not sure if it is an Solana-py bug or Solana bug

[2022-10-10 15:41] #295 closed

[2022-10-11 23:18] marciobbj opened #303 "Is this library production ready?"
Hi, I would like to know more about the development of this lib. I am very interested in having the Solana JS lib ported to Python, and I would be glad to start contributing to the library development. Can you give me directions on where to start if I want to get involved with the project?

Thanks!

[2022-10-12 22:35] kevinheavey opened #305 "Replace requests library with httpx"
We already depend on `httpx` for async stuff, but httpx also covers synchronous requests. Hence we should replace all usage of `requests` with `httpx` to make the dependency tree smaller.

[2022-10-12 22:39] kevinheavey commented on #303
Yeah it's production-ready and lots of people are using it in prod. One good place to help would be to identify RPC methods from [here](https://docs.solana.com/developing/clients/jsonrpc-api) that are missing from solana-py and open issues/PRs for them

[2022-10-12 23:29] marciobbj commented on #303
Cool, I will work on the endpoints as I need them for my project.

[2022-10-12 23:29] #303 closed

[2022-10-13 00:09] marciobbj opened #306 "Is there a way to get the token metadata info?"
I am starting a project recently and I was using node-js until I found out about this library. In the metaplex library I have been using (JS) I have the NFT model that is described as follows https://github.com/metaplex-foundation/js#the-nft-model - my question is: Is there a way to get all this info such as URI, collection details, symbol etc by just using these methods provided by Solana-py, or

[2022-10-13 09:44] kevinheavey commented on #306
There's a Python API for Metaplex but I've never tried it: https://github.com/metaplex-foundation/python-api

Either way it's probably out of scope for solana-py

[2022-10-13 09:44] #306 closed

[2022-10-13 16:54] pietrodn commented on #301
It appears that in the request body the key `program_id` is replaced with the key `mint`, even if the user specified `program_id` in `TokenAccountOpts`.

[2022-10-14 14:36] kevinheavey commented on #301
Closed by #308

[2022-10-14 14:36] #301 closed

[2022-10-14 16:09] kevinheavey commented on #97
Closed as `getConfirmedTransaction` has since been deprecated

[2022-10-14 16:09] #97 closed

[2022-10-14 22:53] kevinheavey commented on #300
Stuff has to pass CI tests to get merged to master so that makes it reasonably safe. The main risk is that the library would be inconsistent in some way because of some changes happening over multiple PRs.

[2022-10-14 22:53] #300 closed

[2022-10-15 11:58] kevinheavey commented on #263
Closed as inactive

[2022-10-15 11:58] #263 closed

[2022-10-19 16:29] WhatsWithAlex commented on #96
I have the same problem: some of transactions go through, others return this error.

[2022-10-20 00:29] WhatsWithAlex commented on #96
I found out what was the problem in my case: I had two signers (one of them was newly generated keypair) in my transaction. The solution was to enter fee payer's public key as a parameter while creating Transaction object.

This is not so obvious because of this phrase in documentation of Transaction's sign method:
`Multiple signatures may be applied to a Transaction. The first signature is consid

[2022-10-20 10:51] kevinheavey commented on #229
This is out of date now since Keypair now uses solders instead of nacl

[2022-10-20 10:51] #229 closed

[2022-10-22 09:28] QuanticCapital commented on #96
Thank you so much! Your solution fixed my issue as well.

[2022-10-22 14:02] kevinheavey commented on #96
@WhatsWithAlex @QuanticCapital are you saying that one needs to specify the `fee_payer` of a Transaction or it doesn't work? Like should we just require that transasctions have a `fee_payer`?

[2022-10-22 17:38] QuanticCapital commented on #96
I had to specify `fee_payer` to reliably send the create_account transaction (the other signing keypair is the one associated with newly created account and, therefore, can not be the payer). However, I am not sure requiring the `fee_payer` parameter is the desired approach in all the cases. Perhaps the `fee_payer` could be automatically set to the first signing keypair, but the user could overrid

[2022-10-24 23:21] kevinheavey commented on #272
Fixed in #314

[2022-10-24 23:21] #272 closed

[2022-10-25 00:12] #305 closed

[2022-10-25 03:01] eliotstock opened #316 "No method for getInflationReward"
This JSON RPC method...

https://docs.solana.com/developing/clients/jsonrpc-api#getinflationreward

...is missing from the client.

[2022-11-01 19:36] pyz4 opened #319 "Fix: Handling InvalidParamsMessage in rpc.core._post_send"
The current post-send handling does not account for various solders error types and the resulting error message is uninformative. The proposed solution raises the message captured in the `solders.rpc.errors.InvalidParamsMessage.message` property.

Current Implementation:
[code]

Sample error message
[code]

Proposed solution
[code]

[2022-11-02 19:40] michaelhly commented on #319
cc @kevinheavey. I think this is reasonable?

[2022-11-07 06:32] crypt0miester commented on #293
you are using anchor in js but using solana python? maybe try using anchor py?

the error shown is basically the number of instructions are 342 rather than a compute units issue. please include more of the your python code. perhaps there is something wrong there.

[2022-11-13 08:16] enzoampil opened #320 "VersionedTransaction support for `send_transaction` method"
Currently, the `send_transaction` [method](https://github.com/michaelhly/solana-py/blob/55b91a9522b7c459e1fe67118c24efee0ffccc7e/src/solana/rpc/async_api.py#L999) only supports legacy transactions.

We'll need to support an updated method similar to the typescript `sendTransaction` [method](https://github.com/solana-labs/solana-web3.js/blob/ed1fe6d996902e4f43318d9e053f84d4b15f58f6/src/connection.t

[2022-11-16 17:10] Nacbotics-dev commented on #60
![image](https://user-images.githubusercontent.com/93852266/202246727-ea7e315f-5346-4f09-bf2d-9b9ff5b1b286.png)

 this is how i solved mine.

first check if we have a token account, if not we create one

we also get a the token account from the sender.

took me hours to figure this out through trial and error, I'm available for further clarification

[2022-11-20 19:40] eliotstock opened #321 "No integration test for using WS program_subscribe with a filter"
I'd really like to know how to use a filter based on `offset` and `bytes` in a call to `program_subscribe`. Do you think you could add an integration test for this? `program_subscribe` has only one test so far.

[2022-11-23 13:28] kevinheavey commented on #321
I don't think we need an integration test for this but documentation would be good. We do have examples for [get_program_accounts](https://michaelhly.github.io/solana-py/rpc/api/#solana.rpc.api.Client.get_program_accounts) though. The filters work the same for get_program_accounts and program_subscribe

[2022-11-23 13:28] #321 closed

[2022-11-23 13:29] kevinheavey commented on #319
Sorry missed this, this looks reasonable if you want to open a PR @pyz4

[2022-11-25 17:55] napangelo opened #322 "keypair with solana's Ed25519 standard"
Hello,
I'm trying to generate the keypair with solana's Ed25519 standard, but when I generating it with "Keypair" of "python.py" generates a different key.
I would like to know with "python.py" how can I achieve the same result with solana standard Ed25519.

Ref:
https://yihau.github.io/solana-web3-demo/tour/create-keypair.html#bip44

Code;
[code]

Results:
[code]

Can someone help me?

Thanks
Ang

[2022-11-25 19:05] michaelhly commented on #322
What version of solana-py did you did you download?

[2022-11-25 21:35] napangelo commented on #322
V. 0.28.0

[2022-11-25 21:45] michaelhly commented on #322
@napangelo our library uses https://crates.io/crates/curve25519-dalek under the hood

[2022-11-25 22:11] napangelo commented on #322
From domumentation:
https://pypi.org/project/bip-utils/

[ed25519-blake2b](https://pypi.org/project/ed25519-blake2b/) for ed25519-blake2b curve
[pynacl](https://pypi.org/project/PyNaCl/) for ed25519 curve

With standard BIP44

https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki

[2022-11-25 22:54] michaelhly commented on #322
😬 see https://github.com/solana-labs/solana/issues/17106. We don't have a good solution for this incompatibility.

[2022-11-26 16:56] napangelo commented on #322
Ok thanks.
Nice weekend